Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f67e803855e4a214a01b46efa9fefa8d7e24840c 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@aab4ff71532538c754455ce1c81fa73f3b15a3b4 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c7a5d30eb76b19a24a7227317e5fed6160a40399 🚀
  pyauditor/edge/.buildinfo
  pyauditor/edge/_static/basic.css
  pyauditor/edge/_static/doctools.js
  pyauditor/edge/_static/language_data.js
  pyauditor/edge/_static/searchtools.js
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/examples.html
  pyauditor/edge/genindex.html
  pyauditor/edge/index.html
  pyauditor/edge/py-modindex.html
  pyauditor/edge/search.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fffd3390ad6fdb5175de652ac845460d034262d0 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6d2a66e47eb3aba5328231d560d07d13ef6e4bf6 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

feat(auditor): add health check to docker container
  CHANGELOG.md
  containers/auditor/Dockerfile
  containers/auditor/health_check.sh
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5b8f0ea7bbf451802b4505d912f79a259f2ff280 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2c5b6da99ccd2c34c0077243a217f1d73d0215da 🚀
  pyauditor/edge/changelog.html
Due: none

build(deps): bump rustls from 0.22.2 to 0.22.4
  CHANGELOG.md
  Cargo.lock
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@96a06522bdb8c9c4c9d6983f70fa1c2e2f5ac32f 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

release 0.5.0
  CHANGELOG.md
  Cargo.lock
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0fde3f8f391775792b9469109d4330d748896735 🚀
  v0.5.0/404.html
  v0.5.0/about/index.html
  v0.5.0/auditor_overview.png
  v0.5.0/auditorlogo_long.png
  v0.5.0/auditorlogo_slim.png
  v0.5.0/auditorlogo_transparent.png
  v0.5.0/auditorlogo_white.png
  v0.5.0/changelog/index.html
  v0.5.0/development/index.html
  v0.5.0/elasticlunr.min.js
  v0.5.0/index.html
  v0.5.0/juice.css
  v0.5.0/migration/index.html
  v0.5.0/normalize.css
  v0.5.0/robots.txt
  v0.5.0/search_index.en.js
  v0.5.0/sitemap.xml
  v0.5.0/white_transparent_background.png
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0fde3f8f391775792b9469109d4330d748896735 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

CI: Redirect latest to new version v0.5.0
  latest
Due: none

CI: Redirect latest to new version v0.5.0 (pyauditor)
  pyauditor/latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@de44f35ee2611196478c1ffb687fac044aa90dec 🚀
  pyauditor/edge/changelog.html
Due: none

fix(ci): switch to stable toolchain for clippy
  .github/workflows/general.yml
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fc1b9f78949f30014b5af6e03c00dc02c2e95d55 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2cf3db94a513cc64a204aaada40a7631176d14ac 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f17394ce35a956d2e65f1654e40c38afecd47d02 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e4ebba3027d210781412d07edab189abf33340b7 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add QueuedAuditorClient to pyauditor
  pyauditor/scripts/test_add_update_queued.py
  pyauditor/scripts/test_advanced_query_queued.py
  pyauditor/scripts/test_bulk_insert_queued.py
  pyauditor/scripts/test_components_queued.py
  pyauditor/scripts/test_get_since_queued.py
  pyauditor/scripts/test_get_single_record_queued.py
  pyauditor/scripts/test_meta_queued.py
  pyauditor/src/builder.rs
  pyauditor/src/lib.rs
  pyauditor/src/queued_client.rs
  scripts/test_pyauditor.sh
Due: none

requested changes for PR#776
  Cargo.lock
  auditor-client/Cargo.toml
  auditor-client/src/lib.rs
  auditor/src/domain/record.rs
  auditor/src/lib.rs
  collectors/slurm/Cargo.toml
  pyauditor/Cargo.toml
  pyauditor/scripts/test_add_update_queued.py
  pyauditor/scripts/test_advanced_query_queued.py
  pyauditor/scripts/test_bulk_insert_queued.py
  pyauditor/scripts/test_components_queued.py
  pyauditor/scripts/test_get_since_queued.py
  pyauditor/scripts/test_get_single_record_queued.py
  pyauditor/scripts/test_meta_queued.py
  pyauditor/src/builder.rs
  pyauditor/src/queued_client.rs
Due: auditor, slurm_collector

Add QueuedAuditorClient
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/priority-plugin.yml
  .github/workflows/slurm-collector.yml
  .github/workflows/slurm-epilog-collector.yml
  CHANGELOG.md
  Cargo.toml
  auditor-client/.env
  auditor-client/.sqlx/query-256977e5f7886c61625e92a77efb52b9ca4321cefcac0e544d64334cdbca93ba.json
  auditor-client/.sqlx/query-440620430cdcfb05e9ded5312614fae4df18e20a2a0730ec9e914ce34338df2d.json
  auditor-client/.sqlx/query-5b1885d85159029e95b3f6d8dcee5eac70e683956480d225143c1de9169e233b.json
  auditor-client/.sqlx/query-6be1ec652f57f24ba44ee6efa08a2c5985cf4375e563a1bff02dbc6fc4a1ac6d.json
  auditor-client/.sqlx/query-7022afed3a87000ca2c5a5a829f8bdfddb266e0a577c428c830b02e3736d264e.json
  auditor-client/.sqlx/query-7ab91dc1d18e4de022a7bbacc463476f8be8a8992b49fe363f70a2d58460e877.json
  auditor-client/.sqlx/query-8de0a0fada9ffea04721b67f8df443a8c496bfccef4be482bbdaa36ef7d508a5.json
  auditor-client/.sqlx/query-c8cba44011d83cdabb543adfae1637c5045144ecc61a6597f538d95a8cc756d4.json
  auditor-client/.sqlx/query-f36fa62228e6ca304003dbd75448e95558f544fdbd602173af16c4bada2a3daf.json
  auditor-client/Cargo.toml
  auditor-client/migrations/20231122115509_create_record_table.sql
  auditor-client/src/database.rs
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/benches/benchmark_with_http_request.rs
  auditor/src/constants.rs
  auditor/src/domain/record.rs
  auditor/src/lib.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/client.rs
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/Cargo.toml
  collectors/slurm/src/auditorsender.rs
  collectors/slurm/src/main.rs
  plugins/priority/Cargo.toml
  plugins/priority/src/main.rs
  pyauditor/Cargo.toml
  pyauditor/src/blocking_client.rs
  pyauditor/src/builder.rs
  pyauditor/src/client.rs
  scripts/init_client_sqlite.sh
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

start work on config classes
  .github/workflows/build_and_test.yml
  .github/workflows/python_code_tests.yml
  CHANGELOG.md
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/scripts/migration-0_4_0-to-0_5_0.py
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

changes after review
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/scripts/migration-0_4_0-to-0_5_0.py
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

use sqlite3 context manager
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@03305dacaf7f66e16d47a341f83547f90e95fdd1 🚀
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/genindex.html
  pyauditor/edge/objects.inv
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8fefe9f4b6cf7965b79553d4f8e7fbb010df9b5d 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
