Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor

check length of list instead of catching IndexError
  plugins/apel/src/auditor_apel_plugin/publish.py
Due: apel_plugin

Set minimum python version for HTCondor collector to 3.8
  collectors/htcondor/pyproject.toml
Due: none

Slurm collector: Fix parsing of ParsableType::Time
  CHANGELOG.md
  collectors/slurm/src/configuration.rs
Due: none

Fix test.
  .github/workflows/htcondor-collector.yaml
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: none

Update CHANGELOG.
  CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

replace deprecated chrono functions
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/sacctcaller.rs
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

feat- Add feature to set log level by user for slurm-epilog
  auditor/src/telemetry.rs
Due: auditor

Drop Python 3.7 from pyauditor CI
  .github/workflows/pyauditor.yml
Due: none

move check for empty record list
  .gitignore
  plugins/apel/src/auditor_apel_plugin/publish.py
Due: apel_plugin

catch VOMS information in unknown format
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Set minimum python version for APEL-plugin to 3.8
  plugins/apel/pyproject.toml
Due: apel_plugin

Catch "undefined" value from HTCondor.
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: none

add cpu_time_unit to config and implement conversion function for cpu_time
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Backfill unreleased changes in changelog
  CHANGELOG.md
Due: none

Add migration guide
  media/website/content/migration.md
Due: none

Enable syntax highlighting for docs
  media/website/config.toml
Due: none

Add semver tags and edge tag for docker containers
  .github/workflows/docker-build-push.yml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@72f82223f5905bd8c409c05db63a7dc793c28e0e 🚀
  about/index.html
  changelog/index.html
  development/index.html
  index.html
  migration/index.html
  search_index.en.js
  sitemap.xml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@72f82223f5905bd8c409c05db63a7dc793c28e0e 🚀
  pyauditor/changelog.html
  pyauditor/searchindex.js
Due: none

check if record list contains any site to report
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@654b8e6a9f6e7723049e588261fc3ef6dcf225f4 🚀
  pyauditor/changelog.html
  pyauditor/searchindex.js
Due: none

add token to coverage upload
  .github/workflows/coverage.yml
  .github/workflows/python-unit-tests.yml
  CHANGELOG.md
Due: none

add workflow for publishing python packages
  .github/workflows/python-publish.yml
  CHANGELOG.md
  collectors/htcondor/pyproject.toml
  plugins/apel/pyproject.toml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ab83fa369ef191ab0af06935cc3ef2b23b210479 🚀
  pyauditor/changelog.html
  pyauditor/searchindex.js
Due: none

feat- Feature to set log level by user for slurm-epilog
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm-epilog/src/configuration.rs
  collectors/slurm-epilog/src/main.rs
Due: none

feat- Feature to add log level by user for slurm
  collectors/slurm/Cargo.toml
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/main.rs
Due: none

feat- Feature to set log level by user for auditor
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/telemetry.rs
Due: auditor

feat- Feature to set log level by user for priority plugin
  Cargo.lock
  auditor/src/main.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/main.rs
  plugins/priority/Cargo.toml
  plugins/priority/src/configuration.rs
  plugins/priority/src/main.rs
Due: auditor

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
