Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

CI: Redirect latest to new version v0.9.2
  latest
Due: none

CI: Redirect latest to new version v0.9.2 (pyauditor)
  pyauditor/latest
Due: none

add unit file and sql files to auditor RPM
  CHANGELOG.md
  rpm/auditor.spec
  rpm/extra_files/auditor.service
  rpm/extra_files/auditor_template.yml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@31afa6c68919a357ce1edae6690f7e94daf1b275 🚀
  pyauditor/edge/changelog.html
Due: none

do not include undefined fields
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8b4848c2fa9f2ef87718e3dc1558a74cf28c0aeb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b0d1bbae762241296d39a78e0619f15cbd36c23d 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bb9d7336c045e0a0d499b23cd8a7f9501a114dd9 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ae90cc5ce2d9d2de41009ace9426958d141a4339 🚀
  pyauditor/edge/changelog.html
Due: none

compute summaries step-by-step
  .github/workflows/build_python_rpms.yml
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5aaf40b746128018975c59c67e3219c4423790c0 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@025eafaa938a8f923b7603d365a6fa841f998ea4 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@36ca207b01b294cb7b5b1572e4787dc8b06bd29f 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@36ca207b01b294cb7b5b1572e4787dc8b06bd29f 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@41e052b3ba8d072e2398398b807123489f6af95e 🚀
  pyauditor/edge/changelog.html
Due: none

Release v.0.9.3
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/priority-plugin.yml
  .github/workflows/pyauditor_integration_tests.yml
  .github/workflows/slurm-collector.yml
  .github/workflows/slurm-epilog-collector.yml
  .github/workflows/sqlx.yml
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  containers/auditor-kubernetes-collector/Dockerfile
  containers/auditor/Dockerfile
  deny.toml
  media/website/content/_index.md
  media/website/content/development.md
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  scripts/init_client_sqlite.sh
  scripts/init_db.sh
  scripts/init_kubernetes_collector_sqlite.sh
  scripts/init_slurm_collector_sqlite.sh
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6095c0ef420d546d5f1c4936da12794ec35f1d7c 🚀
  edge/development/index.html
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6095c0ef420d546d5f1c4936da12794ec35f1d7c 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

feat: add rbac services
  Cargo.lock
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/lib.rs
  auditor/src/main.rs
  auditor/src/middleware.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/record_handlers.rs
  auditor/src/startup.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/helpers.rs
  collectors/slurm/src/sacctcaller.rs
  model.conf
  plugins/apel/src/auditor_apel_plugin/core.py
  pyauditor/scripts/test_advanced_query.py
  pyauditor/src/client.rs
  scripts/test_rbac.sh
Due: apel_plugin, auditor, slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6095c0ef420d546d5f1c4936da12794ec35f1d7c 🚀
  v0.9.3/404.html
  v0.9.3/about/index.html
  v0.9.3/auditor_overview.png
  v0.9.3/auditorlogo_long.png
  v0.9.3/auditorlogo_slim.png
  v0.9.3/auditorlogo_transparent.png
  v0.9.3/auditorlogo_white.png
  v0.9.3/changelog/index.html
  v0.9.3/development/index.html
  v0.9.3/elasticlunr.min.js
  v0.9.3/index.html
  v0.9.3/juice.css
  v0.9.3/migration/index.html
  v0.9.3/normalize.css
  v0.9.3/robots.txt
  v0.9.3/search_index.en.js
  v0.9.3/sitemap.xml
  v0.9.3/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.9.3
  latest
Due: none

CI: Redirect latest to new version v0.9.3 (pyauditor)
  pyauditor/latest
Due: none

change (and fix) parameters of republish script
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

fix: replace certs and add rbac integration test
  .github/workflows/general.yml
  CHANGELOG.md
  Cargo.lock
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  deny.toml
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/scripts/test_advanced_query_queued.py
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/rootCA.pem
  scripts/test_rbac.sh
Due: auditor

printing DB record ID for debugging
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

printing DB record ID for debugging
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

fix: replace certs and add rbac integration test
  .github/workflows/general.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  deny.toml
  media/website/content/_index.md
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/scripts/test_advanced_query_queued.py
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/condor-client-cert.pem
  scripts/certs/condor-client-key.pem
  scripts/certs/rootCA.pem
  scripts/test_rbac.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@21a5606cd5f32de1696b2006280e899446dc92e5 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@21a5606cd5f32de1696b2006280e899446dc92e5 🚀
  pyauditor/edge/changelog.html
Due: none

feat: add monitoring role for metrics endpoint in rbac config
  Cargo.lock
  auditor/configuration/rbac.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  media/website/content/_index.md
Due: auditor

improvements for creation of RPMs
  collectors/kubernetes/src/config.rs
  media/website/content/_index.md
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  rpm/config_files/auditor-kubernetes-collector.yml
  rpm/config_files/auditor-priority-plugin.yml
  rpm/config_files/auditor-slurm-collector.yml
  rpm/config_files/auditor-slurm-epilog-collector.yml
  rpm/config_files/auditor.yml
  rpm/unit_files/auditor-kubernetes-collector.service
  rpm/unit_files/auditor-priority-plugin.service
  rpm/unit_files/auditor-slurm-collector.service
  rpm/unit_files/auditor-slurm-epilog-collector.service
  rpm/unit_files/auditor.service
  scripts/build_rpm.sh
Due: none
