Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

add vo_mapping function
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/utility.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
  plugins/apel/tests/test_utility.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f39ee78d682b4211954dd562b1992cb7fac47c00 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f39ee78d682b4211954dd562b1992cb7fac47c00 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@09d17e6e77cdb161b459eee5f287f9975433d074 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bc4ec8401fc509d51a696592fd62613d78ce87ca 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@348a5fffcce0a0b3b212f9844db03447f8b39931 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@73a3ed49efb852a2fc0aaa8a69d196f0a877d353 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ce7249af01c907ad82d93e85ba1c823d79ac8cea 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a296d2d085e96196e6e03ea9bcee8131fb508440 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2313c9dd83f89c36be1434ea5ad885c7547acf30 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Slurm collector fixes (#811,#812,#681,#178)
  CHANGELOG.md
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Slurm collector: Add tests for cancelled jobs
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

build(deps): Update idna from 0.5.0 to 1.0.3
  Cargo.lock
  deny.toml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a04358a139499651995a28af6ba48377d430322d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix: remove forbidden characters & add encoding reversal scripts for htcondor and slurm
  CHANGELOG.md
  Cargo.toml
  auditor/scripts/htcondor_revert_encoding/.env
  auditor/scripts/htcondor_revert_encoding/htcondor_revert_encodings.py
  auditor/scripts/htcondor_revert_encoding/requirements.txt
  auditor/scripts/slurm_revert_encoding/.env
  auditor/scripts/slurm_revert_encoding/Cargo.lock
  auditor/scripts/slurm_revert_encoding/Cargo.toml
  auditor/scripts/slurm_revert_encoding/src/main.rs
  auditor/scripts/test_valid_names/test_slurm_decoding.py
  auditor/scripts/test_valid_names/test_valid_names.py
  auditor/src/constants.rs
  auditor/src/domain/record.rs
  auditor/src/domain/validname.rs
  auditor/tests/api/add.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/sacctcaller.rs
  media/website/content/migration.md
  scripts/test_htcondor_deserialization.sh
  scripts/test_slurm_deserialization.sh
Due: auditor, slurm_collector, slurm_epilog_collector

Add Kubernetes collector
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/rpm-build.yml
  CHANGELOG.md
  Cargo.toml
  auditor/src/domain/validname.rs
  collectors/kubernetes/.env
  collectors/kubernetes/Cargo.toml
  collectors/kubernetes/migrations/20240420084225_merge_queue.sql
  collectors/kubernetes/src/config.rs
  collectors/kubernetes/src/constants.rs
  collectors/kubernetes/src/database.rs
  collectors/kubernetes/src/main.rs
  collectors/kubernetes/src/merger.rs
  collectors/kubernetes/src/record_collector.rs
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  media/website/content/_index.md
  scripts/init_kubernetes_collector_sqlite.sh
Due: auditor

CI
  Cargo.lock
  collectors/kubernetes/.sqlx/query-078a6e4c4ee3248bdd3563ef82a5c69673e4d3cbe2e7f1c5d7de3aa72a66c0b2.json
  collectors/kubernetes/.sqlx/query-256977e5f7886c61625e92a77efb52b9ca4321cefcac0e544d64334cdbca93ba.json
  collectors/kubernetes/.sqlx/query-39a23e6fa048a92270b8a4b7706061b3adb8354fe7ac2799891fc9948aed30bc.json
  collectors/kubernetes/.sqlx/query-440620430cdcfb05e9ded5312614fae4df18e20a2a0730ec9e914ce34338df2d.json
  collectors/kubernetes/.sqlx/query-5b1885d85159029e95b3f6d8dcee5eac70e683956480d225143c1de9169e233b.json
  collectors/kubernetes/.sqlx/query-6be1ec652f57f24ba44ee6efa08a2c5985cf4375e563a1bff02dbc6fc4a1ac6d.json
  collectors/kubernetes/.sqlx/query-7022afed3a87000ca2c5a5a829f8bdfddb266e0a577c428c830b02e3736d264e.json
  collectors/kubernetes/.sqlx/query-7ab91dc1d18e4de022a7bbacc463476f8be8a8992b49fe363f70a2d58460e877.json
  collectors/kubernetes/.sqlx/query-7ac7f549a6aaeb16d40c3102ed59d9b3568ad3d4bca17fb064f356f95a4c463d.json
  collectors/kubernetes/.sqlx/query-7cc238ea5c8baf920d9e580134dd47abadf3f93cf09fceca81121c11b7767687.json
  collectors/kubernetes/.sqlx/query-897e404e440cbb47b4dbc56186a0b730030eb2c7af29f32b9d0bc1443066f9f3.json
  collectors/kubernetes/.sqlx/query-8de0a0fada9ffea04721b67f8df443a8c496bfccef4be482bbdaa36ef7d508a5.json
  collectors/kubernetes/.sqlx/query-ac062e28635bdbdf94eca73902c063edcd2309e0a16bd499305c39d9f37ae9c9.json
  collectors/kubernetes/.sqlx/query-c552b3c88068030edd890cc5d5018d89f19646e821c3e0932ba29b163499ab08.json
  collectors/kubernetes/.sqlx/query-c8cba44011d83cdabb543adfae1637c5045144ecc61a6597f538d95a8cc756d4.json
  collectors/kubernetes/.sqlx/query-cf0335f5bcacbf3a2a85be5d5419d43d4a158abb12cf524688575e6c62a1c250.json
  collectors/kubernetes/.sqlx/query-dbe500a27121f69e7c3e2509e2f796eda97f7871cc752bb0cec37a20bc9da944.json
  collectors/kubernetes/.sqlx/query-f36fa62228e6ca304003dbd75448e95558f544fdbd602173af16c4bada2a3daf.json
  collectors/kubernetes/Cargo.toml
  collectors/kubernetes/src/database.rs
  collectors/kubernetes/src/merger.rs
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  collectors/kubernetes/testconfig.yml
Due: none

Add container for kubernetes
  .github/workflows/docker-build-push.yml
  CHANGELOG.md
Due: none

CI
  .github/workflows/test_db_migration.yml
Due: none

Add rpm spec for kubernetes
  rpm/auditor-kubernetes-collector.spec
Due: none

Add APEL plugin to helmcharts
  collectors/kubernetes/Cargo.toml
  collectors/kubernetes/src/config.rs
  collectors/kubernetes/src/main.rs
  containers/auditor-apel-plugin/Dockerfile
  containers/auditor-kubernetes-collector/Dockerfile
  helmcharts/Chart.yaml
  helmcharts/charts/auditor-apel/Chart.yaml
  helmcharts/charts/auditor-apel/files/place_certificates_here
  helmcharts/charts/auditor-apel/templates/NOTES.txt
  helmcharts/charts/auditor-apel/templates/_helpers.tpl
  helmcharts/charts/auditor-apel/templates/configmap.yaml
  helmcharts/charts/auditor-apel/templates/deployment.yaml
  helmcharts/charts/auditor-apel/templates/persistentvolume.yaml
  helmcharts/charts/auditor-apel/templates/persistentvolumeclaim.yaml
  helmcharts/charts/auditor-apel/templates/secrets.yaml
  helmcharts/charts/auditor-apel/values.yaml
  helmcharts/charts/auditor-collector/templates/configmap.yaml
  helmcharts/charts/auditor-collector/templates/deployment.yaml
  helmcharts/charts/auditor-collector/values.yaml
  helmcharts/charts/auditor-prometheus/Chart.yaml
  helmcharts/charts/auditor-prometheus/values.yaml
  helmcharts/charts/auditor/Chart.yaml
  helmcharts/charts/auditor/templates/configmap.yaml
  helmcharts/charts/auditor/token
  helmcharts/charts/auditor/values.yaml
  helmcharts/values.yaml
  media/website/content/_index.md
Due: none

CI
  Cargo.lock
  containers/auditor-kubernetes-collector/Dockerfile
  scripts/init_kubernetes_collector_sqlite.sh
Due: none

CI
  containers/auditor-kubernetes-collector/Dockerfile
Due: none

fix: merge conflicts in Cargo.lock
  Cargo.lock
Due: none

fix: Raise the error in decode_record fn to main in htcondor_revert_encodings.py & remove encoding of records for HTCondor
  auditor/scripts/htcondor_revert_encoding/htcondor_revert_encodings.py
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: auditor, htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5b11e24701dfd3e971cb7d79723bc373e8128db3 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
