Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@75b63a6e89b0ae7b7661f6bdbfb567e3830ed005 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@278d1b70d67b72cc9796adddc092363238f918c9 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a52625934c397a1eac389148a4508ea1cc3dc733 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5ac07302acb9f53ecf4f14e56fcc48f249592e29 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@de1b6cf8b2c164a4f9c06222cb33e2276850d4ab 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c4ecd60a330068f18ba410fe307beaf0cc34615d 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0edc4b71dfc135de38b2edc17daf12ba42e6b0e3 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@23887f438e5a5632110ba86cd15f768b9bfce10d 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3fa9c7aae2925c25dcb4015fbcc91bef2762cdc3 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d7d4ff319782f6ed1aaad77f94a20578e245709c 🚀
  pyauditor/edge/changelog.html
Due: none

feat: Add config fields to specify meta key namespace to query record metrics
  CHANGELOG.md
  auditor/configuration/base.yaml
  auditor/src/configuration.rs
  auditor/src/metrics/database.rs
  media/website/content/_index.md
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3687c0653be2d802efcbbc91dade5b9d2381e81e 🚀
  pyauditor/edge/changelog.html
Due: none

updating sqlx offline query cache
  auditor/.sqlx/query-bac1cfa96d1801a491bc325101a0ea88c18a9e1ca50b2b623e07791a46d61b48.json
  auditor/configuration/base.yaml
  auditor/scripts/test_prometheus_exporter/test_multiple_entries.py
  auditor/scripts/test_prometheus_exporter/test_single_entry.py
  auditor/src/configuration.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@968b4d8ce1e099d26b743c73a0e53cf9b0d5c398 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

feat: Add ignore_record_exists_error config option for AUDITOR to treat record exists error as a warning
  CHANGELOG.md
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/routes/add.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@968b4d8ce1e099d26b743c73a0e53cf9b0d5c398 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2a9f60a2ec001e08aac305e29846178045cf0ab2 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2a9f60a2ec001e08aac305e29846178045cf0ab2 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

feat: archival functionality for auditor records
  .github/workflows/test_archival_function.yml
  CHANGELOG.md
  Cargo.toml
  auditor/Cargo.toml
  auditor/configuration/archive.yaml
  auditor/scripts/parquet_to_auditor/python_script/.env
  auditor/scripts/parquet_to_auditor/python_script/parquet_to_auditor.py
  auditor/scripts/parquet_to_auditor/python_script/requirements.txt
  auditor/scripts/parquet_to_auditor/rust_script/Cargo.lock
  auditor/scripts/parquet_to_auditor/rust_script/Cargo.toml
  auditor/scripts/parquet_to_auditor/rust_script/configuration/config.yaml
  auditor/scripts/parquet_to_auditor/rust_script/src/configuration.rs
  auditor/scripts/parquet_to_auditor/rust_script/src/main.rs
  auditor/src/archive.rs
  auditor/src/configuration.rs
  auditor/src/lib.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  deny.toml
  media/website/content/_index.md
  scripts/test_archive.sh
Due: auditor

Refactor .env values for parquet_to_auditor scripts
  Cargo.toml
  auditor/Cargo.toml
  auditor/scripts/parquet_to_auditor/python_script/.env
  auditor/scripts/parquet_to_auditor/python_script/parquet_to_auditor.py
  auditor/scripts/parquet_to_auditor/rust_script/configuration/config.yaml
  media/website/content/_index.md
  scripts/test_archive.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fcd7cc04671fd86e9ab442e652e365a9d438966b 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

fix: typo in htcondor collector tls setup
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fcd7cc04671fd86e9ab442e652e365a9d438966b 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Update: clippy fixes for rust 1.89
  auditor/src/domain/score.rs
  auditor/src/routes/add.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/record_handlers.rs
Due: auditor

docs: update docs for meta query to be treated as a list
  auditor-client/src/lib.rs
  auditor/src/main.rs
  auditor/src/routes/advanced_record_filters.rs
  collectors/kubernetes/src/merger.rs
  plugins/priority/src/main.rs
Due: auditor, priority_plugin

docs: fix typos and improve AUDITOR doc
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a0663d75879295e57ae5a33278b7f32e7a4e2273 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

allow_dead code for functions in database.rs in auditor_client
  auditor-client/src/database.rs
Due: none

allow_dead code for fn in database.rs in kubernetes collector
  collectors/kubernetes/src/database.rs
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
