Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fd563bba5c15373eaa2c146c82982d0a3cf04f40 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

clippy fixes
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/scripts/parquet_to_auditor/rust_script/src/main.rs
  auditor/src/archive.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/tests/api/get_since.rs
  auditor/tests/api/helpers.rs
  auditor/tests/api/update.rs
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/sacctcaller.rs
Due: auditor, slurm_collector, slurm_epilog_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fe74eceedf6409c920f4d4f0ff3392c76c230a09 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@12acfdc3802445506194716381f58efb5e73872d 🚀
  pyauditor/edge/changelog.html
Due: none

fix: terminate query using `true` instead of runtime is not null
  CHANGELOG.md
  auditor/src/routes/advanced_record_filters.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ed6dda2316700fede6270ee066eb3972ff90eb9a 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add runtime > 0 to query in APEL plugin
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b1eb44916fc5b994d2fefe0247fe68c878ba0f3a 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@89104b9c33a48844dafbb932be2f647027a5ffeb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix archival integration test
  CHANGELOG.md
  scripts/test_archive.sh
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9f17008fbf5c48732a8003a6be690b7d13f75b2f 🚀
  pyauditor/edge/changelog.html
Due: none

release v0.11.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  plugins/utilization_tool/pyproject.toml
  plugins/utilization_tool/rpm_config.json
  plugins/utilization_tool/util.spec
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4edea420a3e70a600adba22ab207ec5045716cfe 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4edea420a3e70a600adba22ab207ec5045716cfe 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4edea420a3e70a600adba22ab207ec5045716cfe 🚀
  v0.11.0/404.html
  v0.11.0/about/index.html
  v0.11.0/auditor_overview.png
  v0.11.0/auditorlogo_long.png
  v0.11.0/auditorlogo_slim.png
  v0.11.0/auditorlogo_transparent.png
  v0.11.0/auditorlogo_white.png
  v0.11.0/changelog/index.html
  v0.11.0/development/index.html
  v0.11.0/elasticlunr.min.js
  v0.11.0/index.html
  v0.11.0/juice.css
  v0.11.0/migration/index.html
  v0.11.0/normalize.css
  v0.11.0/robots.txt
  v0.11.0/search_index.en.js
  v0.11.0/sitemap.xml
  v0.11.0/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.11.0
  latest
Due: none

CI: Redirect latest to new version v0.11.0 (pyauditor)
  pyauditor/latest
Due: none

remove opentelemetry, opentelemetry-prometheus, opentelemetry_sdk | update prometheus to 0.14.0 | add actix-web-prom
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/src/metrics/mod.rs
  auditor/src/startup.rs
  plugins/priority/Cargo.toml
  plugins/priority/src/metrics/mod.rs
  plugins/priority/src/startup.rs
Due: auditor, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5541f35f7f1a65795277a974f239c98e5d9773d6 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ccc18067e7b4fb33be00e8f8011b09ba9aec55f7 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@99be81e5fc07ce674ea9e30b373ec252dd35dd21 🚀
  pyauditor/edge/changelog.html
Due: none

add InfrastructureDescription to Summary, refactoring
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

change benchmarktype logic
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Add collector verison info to meta col for every record- slurm, slurm-epilog, kubernetes
  CHANGELOG.md
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector, slurm_epilog_collector

add InfrastructureDescription to Summary
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8903c85757b3f6dd3213413a26d236edc57bae6d 🚀
  pyauditor/edge/changelog.html
Due: none

add collector_type to htcondor record meta
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add default value 1 for NodeCount
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/message.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@01c085af1a901e95a93afbb0bbc9a3f6b0554c87 🚀
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/examples.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@534c7a064f22e7292c977b42f3d5bafc47a6f19e 🚀
  edge/migration/index.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@534c7a064f22e7292c977b42f3d5bafc47a6f19e 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e997fb62743a1fd15b777c1d9f85a3295bb56544 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bfbc30ca35956f7bbc9c2b7e5221d22c14696042 🚀
  pyauditor/edge/changelog.html
Due: none

add sync message to republishing
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
