Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@dba16dddf2e094cea5e8ef50c0c4276646241dc9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

improve the rpm pipeline for the python packages
  .github/workflows/build_and_test.yml
  .github/workflows/build_python_rpms.yml
  .github/workflows/release_python_packages.yml
  CHANGELOG.md
Due: none

add option for log file to APEL plugin
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/tests/test_config.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@686cbe9200f61a65dc7329a56222a6ab3ba97f25 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4a7401a6452060ac444af425af0ea963b0a22965 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4a7401a6452060ac444af425af0ea963b0a22965 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6c938a315a9556bef6a7e2825bef79e15a31f229 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d6b27cfa624648896e78984dfa7482f0d5c029e4 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add unit file and sql files to auditor RPM
  CHANGELOG.md
  rpm/auditor.spec
  rpm/extra_files/auditor.service
  rpm/extra_files/auditor_template.yml
Due: none

fix: update to correct AUDITOR docker image name in the docs
  CHANGELOG.md
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@705feb8f48878884bce8eab5a3e2e509f967dea5 🚀
  edge/index.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@705feb8f48878884bce8eab5a3e2e509f967dea5 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@674514b30ec741fd69dfa167e626dff782624ad1 🚀
  pyauditor/edge/changelog.html
Due: none

add option to set number of actix workers
  CHANGELOG.md
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
Due: auditor

Add AUDITOR_ENVIRONMENT to settings,
  auditor/src/configuration.rs
Due: auditor

CI
  auditor/src/startup.rs
Due: auditor

cap default workers to 4
  auditor/src/configuration.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@150f84410a712e9212ade621f29bd5dfdaab360e 🚀
  edge/index.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@150f84410a712e9212ade621f29bd5dfdaab360e 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Make RUSTSEC-2024-0437 to be ignored in auditor-on-push.yml
  .github/workflows/audit-on-push.yml
Due: none

Add AUDITOR_ENVIRONMENT to settings,
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b9a807e0e58027b27238da8ad78605e56a4275ff 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@722d07650d9bb8f04155799ee06d1e4b01b4c1f1 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@15a8891987309c2cd7b73a529cc2cdb4e1ef0360 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

use different tool for creating requirements.txt
  .github/workflows/build_python_rpms.yml
Due: none

Release v0.9.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@497b63d87047263b3c852e727fe42dd8c53f0907 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@497b63d87047263b3c852e727fe42dd8c53f0907 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@497b63d87047263b3c852e727fe42dd8c53f0907 🚀
  v0.9.0/404.html
  v0.9.0/about/index.html
  v0.9.0/auditor_overview.png
  v0.9.0/auditorlogo_long.png
  v0.9.0/auditorlogo_slim.png
  v0.9.0/auditorlogo_transparent.png
  v0.9.0/auditorlogo_white.png
  v0.9.0/changelog/index.html
  v0.9.0/development/index.html
  v0.9.0/elasticlunr.min.js
  v0.9.0/index.html
  v0.9.0/juice.css
  v0.9.0/migration/index.html
  v0.9.0/normalize.css
  v0.9.0/robots.txt
  v0.9.0/search_index.en.js
  v0.9.0/sitemap.xml
  v0.9.0/white_transparent_background.png
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
