Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5b11e24701dfd3e971cb7d79723bc373e8128db3 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@158551ffcdf5a8b657f3e93a5aa4fff5b96b7e4c 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@cceec270ea66d326f8d1ada02ac7526e9771dd79 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ff115bcd4d8142c085c99416ba3fcc6463b021ca 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@641bb4f86224d7f98a637ab77eee51ae6b71ff7c 🚀
  pyauditor/edge/_static/pygments.css
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/examples.html
  pyauditor/edge/genindex.html
  pyauditor/edge/index.html
  pyauditor/edge/py-modindex.html
  pyauditor/edge/search.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@72dd3f51214bc7d95ced38047c8180b65a9f3a89 🚀
  pyauditor/edge/changelog.html
Due: none

convert keys to strings in from_yaml mapping
  plugins/apel/src/auditor_apel_plugin/config.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f678c04b413dbe49fd00eb694c4a30eb39fe1de0 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1a37f918b238ab0187420019646bdf56c08e0842 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3184ca86457b34e203f4483ae8c52ebca53e6d5f 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4d38474cb31722e2863c712c78094da082e398c9 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a4812c326cd854d5c1b22deebb074526a4390f00 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d7be167f631cf143ce72cbd7e4ea14724c727300 🚀
  pyauditor/edge/changelog.html
Due: none

fix: Raise the error in decode_record fn to main in htcondor_revert_encodings.py & remove encoding of records for HTCondor
  auditor/scripts/htcondor_revert_encoding/htcondor_revert_encodings.py
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  media/website/content/migration.md
Due: auditor, htcondor_collector

Fix: Remove rust code for reversal of slurm encoding & make a single python script for reversal of both slurm and htcondor encodings
  auditor/scripts/revert_encoding/.env
  auditor/scripts/revert_encoding/requirements.txt
  auditor/scripts/revert_encoding/revert_encodings.py
  auditor/scripts/revert_encoding/test_script.py
  auditor/scripts/slurm_revert_encoding/.env
  auditor/scripts/slurm_revert_encoding/Cargo.lock
  auditor/scripts/slurm_revert_encoding/Cargo.toml
  auditor/scripts/slurm_revert_encoding/src/main.rs
  media/website/content/migration.md
  scripts/test_htcondor_deserialization.sh
  scripts/test_slurm_deserialization.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6b748a7782c6ea2e1aba6718ea5e0ed5d4e91944 🚀
  pyauditor/edge/changelog.html
Due: none

fix: add special char for revert_encoding unit tests & update the migrations doc
  auditor/scripts/revert_encoding/test_script.py
  media/website/content/migration.md
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@cb30dff85b95c88d8a454d0c5f2f61b23860dd0a 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@cb30dff85b95c88d8a454d0c5f2f61b23860dd0a 🚀
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/genindex.html
  pyauditor/edge/objects.inv
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@81f7f5c6d28475f2dcd10ac736322af6a6443677 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2601e5bf4d1f8f6eb883d4f207e5eb1241398cd0 🚀
  pyauditor/edge/changelog.html
Due: none

fix: remove forbidden characters & add encoding reversal scripts for htcondor and slurm
  CHANGELOG.md
  Cargo.toml
  auditor/scripts/htcondor_revert_encoding/.env
  auditor/scripts/htcondor_revert_encoding/htcondor_revert_encodings.py
  auditor/scripts/htcondor_revert_encoding/requirements.txt
  auditor/scripts/slurm_revert_encoding/.env
  auditor/scripts/slurm_revert_encoding/Cargo.lock
  auditor/scripts/slurm_revert_encoding/Cargo.toml
  auditor/scripts/slurm_revert_encoding/src/main.rs
  auditor/scripts/test_valid_names/test_slurm_decoding.py
  auditor/scripts/test_valid_names/test_valid_names.py
  auditor/src/constants.rs
  auditor/src/domain/record.rs
  auditor/src/domain/validname.rs
  auditor/tests/api/add.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/sacctcaller.rs
  media/website/content/migration.md
  scripts/test_htcondor_deserialization.sh
  scripts/test_slurm_deserialization.sh
Due: auditor, slurm_collector, slurm_epilog_collector

fix: correctly trigger test_main function and add safe argument to quote for encoding '/'
  auditor/scripts/revert_encoding/revert_encodings.py
  auditor/scripts/revert_encoding/test_script.py
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2046d2b3a8430f8eec5a1cda6b676fb9d6ec8afb 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2046d2b3a8430f8eec5a1cda6b676fb9d6ec8afb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6d570d0857a7cf0201b00af9219101725b73b6ca 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f67ff7863b112c6de87d781532170c3bfd958d63 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e1b4212674e1791f62d5c7cc8111a8d5638427dd 🚀
  pyauditor/edge/changelog.html
Due: none

add TLS to APEL plugin
  CHANGELOG.md
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
