Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@84a5189ebc73b51541ca4fcec5c9e6b0c9b23037 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@937e0734abc5be00ed0799bf986fdeeb86db5ade 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@01825e658bcabc51164a9c0ffc15acce52e5beaa 🚀
  edge/about/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@01825e658bcabc51164a9c0ffc15acce52e5beaa 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b9844b15cb939ac627e2c09ae6fa5e86d1655552 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9e00c7f37794d7e313b0828564e533de8e249be9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Refactor benchmark script and add num_of_records config field
  CHANGELOG.md
  auditor/benches/benchmark_with_http_request.rs
  auditor/benches/configuration.rs
  auditor/benches/configuration/bench.yaml
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3319c31b4c0ad1fc243cc1ea94b33ae3649b4b58 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

test: Integration test for db migration
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  scripts/test_db_migration.sh
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@05c07bb9ef4c3013f8690eb7ba788c22ad8c68c7 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@35b8c06cea5dc2ce443e879636d348b87c682fde 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3184ccdb7739f41bd93d0a1239a78ce190064af3 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@7356f50bd055d08b818aeb9fa7d1769b050bac3f 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@751c5fab036001acd29bfb740c9622dcb396afad 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@25a12231432be22892116a7a6771c4e6d4deae1a 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9571044d5d934c0e40b5d2e0326d6d32b6b6e633 🚀
  pyauditor/edge/changelog.html
Due: none

test: change checkout branch to main in db migration integration test workflow
  .github/workflows/test_db_migration.yml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@561c9020fe27b8cc92bcd65af2e15f11d02070a4 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@561c9020fe27b8cc92bcd65af2e15f11d02070a4 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@063a3d6a9ff7836c43a68c223e5d13da5038c3fe 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a43316033001be3e2bfd3b348aef55f71011394f 🚀
  pyauditor/edge/changelog.html
Due: none

fix: make auditor as a separate package- move benchmark & auditor client tests to auditor-client package
  CHANGELOG.md
  Cargo.lock
  auditor-client/Cargo.toml
  auditor-client/benches/README.md
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/benches/configuration.rs
  auditor-client/benches/configuration/bench.yaml
  auditor-client/configuration/base.yaml
  auditor-client/configuration/local.yaml
  auditor-client/src/configuration.rs
  auditor-client/tests/api/client.rs
  auditor-client/tests/api/health_check.rs
  auditor-client/tests/api/helpers.rs
  auditor-client/tests/api/main.rs
  auditor/Cargo.toml
  auditor/src/domain/record.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/main.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@363ffcc67100f339f432d8526d0a3c3bac7c1135 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

refactor: change auditor db table name from `auditor` to `auditor_accounting`
  .github/workflows/htcondor-collector.yaml
  CHANGELOG.md
  auditor/.sqlx/query-0723e1854dee7d889745714fe094a64edfcf3f389eec3e77fefca2d753f1eceb.json
  auditor/.sqlx/query-26a72be3c4ba0fddc30f53a71e0317e21982fde8bd24d8b5714439c1af835080.json
  auditor/.sqlx/query-56c4218a1b59d8f9dc0af7191e516cb8f505a7d953ef5b2706e2427a136a918b.json
  auditor/.sqlx/query-90e6c5e852ed16ef84a113c260d99efb6e193fa46b8115df94e750440e2d5517.json
  auditor/.sqlx/query-a5c2d5afb25cf16a58a73c11cdde1bf5d2336cf42c6e84bf24ba27313d827a1f.json
  auditor/.sqlx/query-a621b3eb5f42f24a04d216b9ce3c490182712e1276512cdfe74dcbb9e3e9e54e.json
  auditor/.sqlx/query-aa313afec8c23e75ee45750e2ce8e520b96a98670d3c46572a6f942f839b99c0.json
  auditor/.sqlx/query-d8c6add014ac34e66ffb0178d497b9e822c569f86a89525f6ed5cc306713995a.json
  auditor/.sqlx/query-dc5295938290703233cfe51c2215e6a5f6a6afe26b6ba3635210f5c157032f78.json
  auditor/.sqlx/query-e4129d556ba749cb664ef6e876264efd36d82d813c2c9670dde24e4cfd042f94.json
  auditor/.sqlx/query-fd0276b7b26e8fee23c01c8552cd8f4391fb2f9de1cdd6e6501e8ee5647cacbf.json
  auditor/src/metrics/database.rs
  auditor/src/routes/add.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/get.rs
  auditor/src/routes/update.rs
  auditor/tests/api/add.rs
  auditor/tests/api/update.rs
  migrations/20240503141800_convert_meta_component_to_jsonb.sql
Due: auditor

release-0.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d9c71e46d2bf754137d5f76b3306181f2b939b14 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9ff66c7bc768064e97d25a195931c6a4db831bbe 🚀
  pyauditor/edge/.buildinfo
  pyauditor/edge/_static/searchtools.js
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@757efb2e99620e90d073ea20567344c96b760674 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c472bf86ef1455c059e04b5a5904d6ace9d46558 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@63d6b94e7d9aaf0a5af39d94bd76217111f0173b 🚀
  pyauditor/edge/changelog.html
Due: none

fix: add test to check query metadata & add missing sqlx query metadata
  .github/workflows/general.yml
  CHANGELOG.md
  auditor-client/tests/api/client.rs
  auditor-client/tests/api/health_check.rs
  auditor-client/tests/api/helpers.rs
  auditor-client/tests/api/main.rs
  auditor/.sqlx/query-cb3125aad5e124a24a976c2cb20a6e8859709f978c9f651740c439abe3b41adb.json
  auditor/.sqlx/query-e88b5acb79055b5c307e15481bc270e47d65b525ef6d98376455a267972be532.json
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4b99d6489a629deece1a048585449e8e62a1988c 🚀
  pyauditor/edge/changelog.html
Due: none

NormalisedField now returns int instead of float
  plugins/apel/src/auditor_apel_plugin/config.py
Due: apel_plugin

access config as object in send_payload function
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin
