Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c71d982678e469a9540ddf718cf0f7080cb5b29b 🚀
  pyauditor/edge/changelog.html
Due: none

Limit the timewindow of sacct calls
  CHANGELOG.md
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/sacctcaller.rs
  media/website/content/_index.md
Due: slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@dd0722129bb8ef4fb501c2d621470dd6eb1ec7a9 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@dd0722129bb8ef4fb501c2d621470dd6eb1ec7a9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@273009b309a2c75d498a643cd8bbb2e6c30ad1f9 🚀
  pyauditor/edge/changelog.html
Due: none

fix issue with InfrastructureDescription
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@452fcc5ce95504c1f2f27f7ae29f947b60caa21e 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9a86ca6c8fc00bd7c688f1813b3afa952bea4f16 🚀
  pyauditor/edge/changelog.html
Due: none

bulk update deps 4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

add changes to changelog and run rustfmt on sacctcaller.rs
  CHANGELOG.md
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Update sacctcaller.rs
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a5fcee1995498fed3d1881692f3f489b9af84981 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@765df5faeb79c32e196ef25f9fd3ea03dd55ba47 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

amend slurm regex to handle + in sacct parsing for hetrogeneous jobs
  CHANGELOG.md
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f87b2ad1dfedc92c46d7d94c696c5b80bc64b5fd 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

release v0.11.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  plugins/utilization_tool/pyproject.toml
  plugins/utilization_tool/rpm_config.json
  plugins/utilization_tool/util.spec
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f1d55c59f985af605def6dccf405c52569250037 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f1d55c59f985af605def6dccf405c52569250037 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f1d55c59f985af605def6dccf405c52569250037 🚀
  v0.11.2/404.html
  v0.11.2/about/index.html
  v0.11.2/auditor_overview.png
  v0.11.2/auditorlogo_long.png
  v0.11.2/auditorlogo_slim.png
  v0.11.2/auditorlogo_transparent.png
  v0.11.2/auditorlogo_white.png
  v0.11.2/changelog/index.html
  v0.11.2/development/index.html
  v0.11.2/elasticlunr.min.js
  v0.11.2/index.html
  v0.11.2/juice.css
  v0.11.2/migration/index.html
  v0.11.2/normalize.css
  v0.11.2/robots.txt
  v0.11.2/search_index.en.js
  v0.11.2/sitemap.xml
  v0.11.2/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.11.2
  latest
Due: none

CI: Redirect latest to new version v0.11.2 (pyauditor)
  pyauditor/latest
Due: none
