Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

document new setting
  media/website/content/_index.md
Due: none

move for clarity
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

verify new setting
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

insert constraint to query
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add changelog for constraint and query_type
  CHANGELOG.md
Due: none

fix typo
  media/website/content/_index.md
Due: none

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

guard for extra cases
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

treat all layers as uniform
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

expose less assummptions
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

make both linters happy...
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

separately format debug per query type
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

feat: add rbac services
  Cargo.lock
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/lib.rs
  auditor/src/main.rs
  auditor/src/middleware.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/record_handlers.rs
  auditor/src/startup.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/helpers.rs
  collectors/slurm/src/sacctcaller.rs
  model.conf
  pyauditor/scripts/test_advanced_query.py
  pyauditor/src/client.rs
  scripts/test_rbac.sh
Due: auditor, slurm_collector

fix: replace certs and add rbac integration test
  .github/workflows/general.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  deny.toml
  media/website/content/_index.md
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/scripts/test_advanced_query_queued.py
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/condor-client-cert.pem
  scripts/certs/condor-client-key.pem
  scripts/certs/rootCA.pem
  scripts/test_rbac.sh
Due: auditor

Improve docs, add PUT policy for default write_access_cn & change sqlx to 0.8.6
  .github/workflows/general.yml
  auditor/src/configuration.rs
  media/website/content/_index.md
Due: auditor

Add model.conf to AUDITOR Dockerfile
  Cargo.lock
  auditor/src/configuration.rs
  auditor/src/startup.rs
  containers/auditor/Dockerfile
  media/website/content/_index.md
Due: auditor

feat: add monitoring role for metrics endpoint in rbac config
  Cargo.lock
  auditor/configuration/rbac.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  media/website/content/_index.md
Due: auditor

update pyauditor docs for querying meta values as a list
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  pyauditor/docs/examples.rst
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3ec706a095d38f21aaf09d96645df93bd5ba444d 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

catch empty records in republish script
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4c8392c01d9e98a1e3d6f24492791598e772cdcf 🚀
  pyauditor/edge/_sources/examples.rst.txt
  pyauditor/edge/changelog.html
  pyauditor/edge/examples.html
  pyauditor/edge/searchindex.js
Due: none

add switch for query type
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

preserve types
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

mark internal check private
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

explain new config setting
  media/website/content/_index.md
Due: none

avoid shared state
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

annotations for clarity
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

document helper
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector
