Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor

add (test-)feature to configure APEL message style
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

replace all URL encodings in meta fields
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0a517edcfb14ff6c16bc8800506248191fcb8daf 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

bump version
  Cargo.lock
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
Due: apel_plugin, auditor

fix(docs): Add missing code blocks and fix table
  auditor/src/lib.rs
Due: auditor

docs: add API description to zola docs
  CHANGELOG.md
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@02656d9624a6f1b4b8839806fd9b68398241a916 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@102542fc5ce8ead4bbfa5309ec7a5a1c3b8da73b 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@102542fc5ce8ead4bbfa5309ec7a5a1c3b8da73b 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Use latest 10.X htcondor images
  containers/htcondor/collector.Dockerfile
  containers/htcondor/docker-compose.yaml
Due: none

Fix building of docker container for htcondor integration test
  containers/htcondor/collector.Dockerfile
Due: none

fix: Add advanced_query to pyauditor blocking client
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/src/blocking_client.rs
Due: none

bump h2 from 0.3.22 to 0.3.24
  CHANGELOG.md
  Cargo.lock
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@07679435743d2642f2cf8404dbb7bd6cf98f9163 🚀
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/genindex.html
  pyauditor/edge/objects.inv
  pyauditor/edge/searchindex.js
Due: none

refactor: Remove get_since.rs and clean up dead code
  CHANGELOG.md
  auditor/src/routes/get_since.rs
  auditor/src/routes/mod.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@db13f0dccc52a50545fa12ef9f728be590da6115 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

refactor: Restructure `/record` endpoint to handle single record and `/records` endpoint to handle multiple records operations
  CHANGELOG.md
  auditor/src/client/mod.rs
  auditor/src/lib.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
  media/website/content/migration.md
  scripts/test_slurm_collector.sh
  scripts/test_slurm_epilog_collector.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@86ea31e6c1d841185a700fc0a4451791c679f61d 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@86ea31e6c1d841185a700fc0a4451791c679f61d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

feat: Add string __repr__ for Record struct in pyauditor
  CHANGELOG.md
  pyauditor/src/domain/record.rs
Due: none

fix(docs): Use correct parameter name for client.advanced_query()
  pyauditor/scripts/test_advanced_query.py
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/src/blocking_client.rs
  pyauditor/src/client.rs
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8ce8873ec0b33c3731e0386462a30c3cef025644 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@436fe3a44d7df0acce051793c4705165b2c136eb 🚀
  pyauditor/edge/api.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@acd452ec34b21de14078ab388310127a5fc4a276 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

docs: remove get_[started/stopped]_since API endpoint
  CHANGELOG.md
  media/website/content/migration.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@82978db827e5b0802ccd3e0625a15fa91400b445 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@82978db827e5b0802ccd3e0625a15fa91400b445 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
