Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@14313076164bb322617fbf73d34ee6be2d4aa7b0 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@781741e001c68115121801d4f43239c25cd9afb3 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@07380363cea46e2574db78ccab3bee8cab73d784 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

stop shipping of venv in rpms
  .github/workflows/build_python_rpms.yml
  CHANGELOG.md
  plugins/utilization_tool/bootstrap-venv.sh
  plugins/utilization_tool/util.spec
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@94b57d18a97229954662ec03c1c586cf7ea840f8 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

bulk update deps
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

bulk update deps 2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/scripts/revert_encoding/requirements.txt
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5a6995375833e0cc97a0ce4167f682f7d7aba6a8 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add log to include record id when record-exist error occurs
  CHANGELOG.md
  auditor/src/routes/add.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@898e304b37ec397efa4f7fc9f3bf1fb0a4a92c24 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

feat: Add tracing appender to write auditor, slurm, slurm-epilog, priority-plugin logs to a file
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/configuration/base.yaml
  auditor/src/archive.rs
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/slurm-epilog/src/configuration.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/main.rs
  media/website/content/_index.md
  plugins/priority/src/configuration.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

fix utilization plugin docs
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/configuration/base.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/slurm-epilog/src/configuration.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/main.rs
  media/website/content/_index.md
  plugins/priority/src/configuration.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

use TotalCPU in example config of HTCondor collector
  CHANGELOG.md
  Cargo.lock
  collectors/htcondor/configs/auditor_htcondor_collector_template.yml
  media/website/content/_index.md
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c276b689d1b201101d7eafa62a2b4f7dd837b15c 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c276b689d1b201101d7eafa62a2b4f7dd837b15c 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@451a993a5590cef05eebf4ec4fec8f5b683fa4c2 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@451a993a5590cef05eebf4ec4fec8f5b683fa4c2 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Add script to migrate millisec to sec for slurm totalcpu field
  .github/workflows/test_convert_millisec_to_sec_slurm_totalcpufield.yml
  CHANGELOG.md
  auditor/scripts/convert_slurm_millisec_to_sec/.env
  auditor/scripts/convert_slurm_millisec_to_sec/convert_totalcpu_millisec_to_sec.py
  auditor/scripts/convert_slurm_millisec_to_sec/requirements.txt
  auditor/scripts/convert_slurm_millisec_to_sec/test_convert_slurm_millisec_to_sec.py
  scripts/test_slurm_migration_millisec_to_sec.sh
Due: auditor

Update certificate lifetime for tls integration tests
  .github/workflows/test_convert_millisec_to_sec_slurm_totalcpufield.yml
  auditor/scripts/convert_slurm_millisec_to_sec/convert_totalcpu_millisec_to_sec.py
  auditor/scripts/convert_slurm_millisec_to_sec/test_convert_slurm_millisec_to_sec.py
  scripts/test_slurm_migration_millisec_to_sec.sh
Due: auditor

Change millisec to sec for totalcpu field for slurm collector and modify the docs
  CHANGELOG.md
  auditor/scripts/convert_slurm_millisec_to_sec/convert_totalcpu_millisec_to_sec.py
  auditor/scripts/convert_slurm_millisec_to_sec/test_convert_slurm_millisec_to_sec.py
  collectors/slurm/src/configuration.rs
  media/website/content/_index.md
  media/website/content/migration.md
  scripts/test_slurm_collector.sh
  scripts/test_slurm_migration_millisec_to_sec.sh
  scripts/test_tls_slurm_collector.sh
Due: auditor, slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@76adec1ebe8348548d4442f95662224fb8178211 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

fix typo in slurm collector RPM spec
  CHANGELOG.md
  rpm/auditor-slurm-collector.spec
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@76adec1ebe8348548d4442f95662224fb8178211 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a198a5a8f47b2c83dacbdbadcef6a73d90cf3f0f 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

bulk update deps 3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/scripts/convert_slurm_millisec_to_sec/requirements.txt
Due: auditor

zero-pad archive filenames
  CHANGELOG.md
  auditor/src/archive.rs
  scripts/test_archive.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1ac7e256a3ffad9652b0e95242cc7e1ad2d1b3ff 🚀
  pyauditor/edge/changelog.html
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
