Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@eaed021f246c594a412ed40275439a3b4b576240 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bdffd2b234ba6e0a44ad134e8a72a625cefb4175 🚀
  edge/about/index.html
  edge/changelog/index.html
  edge/development/index.html
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bdffd2b234ba6e0a44ad134e8a72a625cefb4175 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1b69f2f58f17bd7bd51dfd695cb50b260a7e1f8a 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@7346ba140f4c2a32a222b9a3478252c0a886e02e 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b0255973655d109f00e67530e8a8f73a9237f378 🚀
  pyauditor/edge/changelog.html
Due: none

add collector_type to htcondor record meta
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add sync message to republishing
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d3308aa3cbb19f1dbbc81c3d52284b8269144638 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@211348b517cd82ec54d900c68eb8afd13b701c4e 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b5ac2df8c49b37d115e8c0c207de8d3b35605e0c 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add InfrastructureDescription to Summary
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@09aed7f1ed1e581d4ebe960aca6539c47fb27c62 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@09aed7f1ed1e581d4ebe960aca6539c47fb27c62 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Add collector verison info to meta col for every record- slurm, slurm-epilog, kubernetes
  CHANGELOG.md
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector, slurm_epilog_collector

remove opentelemetry, opentelemetry-prometheus, opentelemetry_sdk | update prometheus to 0.14.0 | add actix-web-prom
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/src/metrics/mod.rs
  auditor/src/startup.rs
  plugins/priority/Cargo.toml
  plugins/priority/src/metrics/mod.rs
  plugins/priority/src/startup.rs
Due: auditor, priority_plugin

add default value 1 for NodeCount
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/message.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ecd5bee5e5a8d3ddeec8df70633fe3fe3a556e54 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a7765918aabd17fc567df469c634ffe64620754b 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a7765918aabd17fc567df469c634ffe64620754b 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5d5d3f8967af10a33adefaabef95975d5fa6b7bb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

change rpm release workflow of utilization tool
  .github/workflows/release_python_packages.yml
  CHANGELOG.md
  plugins/utilization_tool/rpm_config.json
Due: none

release v0.11.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  plugins/utilization_tool/pyproject.toml
  plugins/utilization_tool/rpm_config.json
  plugins/utilization_tool/util.spec
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f6a1fb130dd9d025f5cbb65fa3013819b8ee84bb 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f6a1fb130dd9d025f5cbb65fa3013819b8ee84bb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f6a1fb130dd9d025f5cbb65fa3013819b8ee84bb 🚀
  v0.11.1/404.html
  v0.11.1/about/index.html
  v0.11.1/auditor_overview.png
  v0.11.1/auditorlogo_long.png
  v0.11.1/auditorlogo_slim.png
  v0.11.1/auditorlogo_transparent.png
  v0.11.1/auditorlogo_white.png
  v0.11.1/changelog/index.html
  v0.11.1/development/index.html
  v0.11.1/elasticlunr.min.js
  v0.11.1/index.html
  v0.11.1/juice.css
  v0.11.1/migration/index.html
  v0.11.1/normalize.css
  v0.11.1/robots.txt
  v0.11.1/search_index.en.js
  v0.11.1/sitemap.xml
  v0.11.1/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.11.1
  latest
Due: none

CI: Redirect latest to new version v0.11.1 (pyauditor)
  pyauditor/latest
Due: none

amend slurm regex to handle + in sacct parsing for hetrogeneous jobs
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@73ec16cb4e4e5c797584d8b4eb006a6b73f4e886 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e416b8f924399cf8535aabf9513c1c85a22fa176 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bbcc78a396e8e5e8738a1dc6eb65a1952ea45cd0 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a113616afd5fcf57d0826abdcc9d40af5819892c 🚀
  pyauditor/edge/changelog.html
Due: none

Limit the timewindow of sacct calls
  CHANGELOG.md
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/sacctcaller.rs
  media/website/content/_index.md
Due: slurm_collector
