Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

refactor: remove commented-out code
  auditor-client/src/lib.rs
Due: none

new certs for tests
  CHANGELOG.md
  auditor-client/src/lib.rs
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/rootCA.pem
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0e9fc467d204d276c7668e0d0a241688ceccef95 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

fix: correct reversal script path & switch to psycopg2-binary
  CHANGELOG.md
  auditor/scripts/revert_encoding/requirements.txt
  auditor/scripts/revert_encoding/revert_encodings.py
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0e9fc467d204d276c7668e0d0a241688ceccef95 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

refactor: remove default values for db config & add requests library to requirements.txt
  CHANGELOG.md
  auditor/scripts/revert_encoding/.env
  auditor/scripts/revert_encoding/requirements.txt
  auditor/scripts/revert_encoding/revert_encodings.py
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4bf3856a53c55e0d91bb38d92061a2d0bca611d7 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

docs: migration guide for revert_encodings for 0.7.1
  media/website/content/migration.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0c9a6d11642e8af2b07d0671fab008cdc6d52a33 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@baefb820fad9142e9ae744f7adb2e80e6337724d 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@690b81c69b3f0b6b1032ca7af9a0c37de7e015de 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4bc3ad8977c23dead7af79201b1d08093d417cb3 🚀
  pyauditor/edge/changelog.html
Due: none

chore: upgrade to Rust 2024 edition
  CHANGELOG.md
  auditor-client/Cargo.toml
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/database.rs
  auditor/Cargo.toml
  auditor/src/configuration.rs
  auditor/src/domain/component.rs
  auditor/src/domain/mod.rs
  auditor/src/domain/validamount.rs
  auditor/src/domain/validvalue.rs
  auditor/src/main.rs
  auditor/src/routes/add.rs
  auditor/src/routes/health_check.rs
  auditor/src/routes/record_handlers.rs
  auditor/src/routes/update.rs
  auditor/src/startup.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/kubernetes/Cargo.toml
  collectors/kubernetes/src/database.rs
  collectors/kubernetes/src/main.rs
  collectors/kubernetes/src/merger.rs
  collectors/kubernetes/src/record_collector/kapi_collector.rs
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/Cargo.toml
  collectors/slurm/src/auditorsender.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/database.rs
  collectors/slurm/src/main.rs
  collectors/slurm/src/sacctcaller.rs
  plugins/priority/Cargo.toml
  plugins/priority/src/startup.rs
  pyauditor/Cargo.toml
  pyauditor/src/client.rs
  pyauditor/src/domain/component.rs
  pyauditor/src/domain/meta.rs
  pyauditor/src/domain/record.rs
  pyauditor/src/domain/score.rs
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

fix: cargo update
  Cargo.lock
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0bdcea0f9d20273fa23f9b87c69de2c99de926e4 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@79489c9996bb5f71216bf593409ebbd091a3faf7 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f6a3de736655a9e2c07cffcbe4f9ee29015cbd38 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix: new cache for pyauditor build
  .github/workflows/build_pyauditor_macos.yml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@dcc2e873eb20bf91ad8d21d2b03d95e38d5303ec 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Release v0.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4aba6dd1ab6311eeb7203cba9c4953d8dda25778 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4aba6dd1ab6311eeb7203cba9c4953d8dda25778 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4aba6dd1ab6311eeb7203cba9c4953d8dda25778 🚀
  v0.7.1/404.html
  v0.7.1/about/index.html
  v0.7.1/auditor_overview.png
  v0.7.1/auditorlogo_long.png
  v0.7.1/auditorlogo_slim.png
  v0.7.1/auditorlogo_transparent.png
  v0.7.1/auditorlogo_white.png
  v0.7.1/changelog/index.html
  v0.7.1/development/index.html
  v0.7.1/elasticlunr.min.js
  v0.7.1/index.html
  v0.7.1/juice.css
  v0.7.1/migration/index.html
  v0.7.1/normalize.css
  v0.7.1/robots.txt
  v0.7.1/search_index.en.js
  v0.7.1/sitemap.xml
  v0.7.1/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.7.1
  latest
Due: none

CI: Redirect latest to new version v0.7.1 (pyauditor)
  pyauditor/latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@19be2bed98b21c57cf8e41a8a5afe45e91243806 🚀
  pyauditor/edge/changelog.html
Due: none

switch to argo AMS library for messaging
  CHANGELOG.md
  codecov.yaml
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
