Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

fix clippy
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/advanced_queries.rs
  collectors/kubernetes/src/config.rs
  collectors/kubernetes/src/merger.rs
  collectors/slurm-epilog/src/main.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_epilog_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a595b59c652c3ff860a60b902db1e30556ae6d41 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

improvements for creation of RPMs
  CHANGELOG.md
  collectors/htcondor/configs/auditor_htcondor_collector_template.yml
  collectors/htcondor/rpm_config.json
  collectors/htcondor/unit_files/auditor_htcondor_collector.service
  collectors/kubernetes/src/config.rs
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/rpm_config.json
  plugins/apel/unit_files/auditor_apel_plugin.service
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  rpm/config_files/auditor-kubernetes-collector.yml
  rpm/config_files/auditor-priority-plugin.yml
  rpm/config_files/auditor-slurm-collector.yml
  rpm/config_files/auditor-slurm-epilog-collector.yml
  rpm/config_files/auditor.yml
  rpm/unit_files/auditor-kubernetes-collector.service
  rpm/unit_files/auditor-priority-plugin.service
  rpm/unit_files/auditor-slurm-collector.service
  rpm/unit_files/auditor-slurm-epilog-collector.service
  rpm/unit_files/auditor.service
  scripts/build_rpm.sh
Due: apel_plugin, htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a595b59c652c3ff860a60b902db1e30556ae6d41 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

changelog
  CHANGELOG.md
Due: none

do not stop on jobs without CompletionDate
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b9e85ed87fb1eb0bb9b0d530a5609e8044c29301 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

what does this thing do?
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

clearer naming
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

assert protecting internal value
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

directly use sets
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

avoid shared state
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

mark internal check private
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

preserve types
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

avoid reading unintended sections
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

add switch for query type
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

document helper
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

annotations for clarity
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

separate shell and exec invocation
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

document new setting
  media/website/content/_index.md
Due: none

move for clarity
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

verify new setting
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

explain new config setting
  media/website/content/_index.md
Due: none

insert constraint to query
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add changelog for constraint and query_type
  CHANGELOG.md
  media/website/content/_index.md
Due: none

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

guard for extra cases
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

expose less assummptions
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

separately format debug per query type
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  media/website/content/_index.md
Due: htcondor_collector

make both linters happy...
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

treat all layers as uniform
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

unify escaping
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

avoid duplicate assignment
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

make the other linter happy
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

include fix from #1310 (closes #1309)
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

conditionally escape history file
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
