Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

separate shell and exec invocation
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

what does this thing do?
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

assert protecting internal value
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

avoid reading unintended sections
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

directly use sets
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

clearer naming
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

add changelog for constraint and query_type
  CHANGELOG.md
  media/website/content/_index.md
Due: none

expose less assummptions
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

guard for extra cases
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

treat all layers as uniform
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

make both linters happy...
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

make the linter happy
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

separately format debug per query type
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  media/website/content/_index.md
Due: htcondor_collector

printing DB record ID for debugging
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

improvements for creation of RPMs
  CHANGELOG.md
  collectors/htcondor/configs/auditor_htcondor_collector_template.yml
  collectors/htcondor/rpm_config.json
  collectors/htcondor/unit_files/auditor_htcondor_collector.service
  collectors/kubernetes/src/config.rs
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/rpm_config.json
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  rpm/config_files/auditor-kubernetes-collector.yml
  rpm/config_files/auditor-priority-plugin.yml
  rpm/config_files/auditor-slurm-collector.yml
  rpm/config_files/auditor-slurm-epilog-collector.yml
  rpm/config_files/auditor.yml
  rpm/unit_files/auditor-kubernetes-collector.service
  rpm/unit_files/auditor-priority-plugin.service
  rpm/unit_files/auditor-slurm-collector.service
  rpm/unit_files/auditor-slurm-epilog-collector.service
  rpm/unit_files/auditor.service
  scripts/build_rpm.sh
Due: apel_plugin, htcondor_collector

Add condor history file documentation.
  media/website/content/_index.md
Due: none

HTCondor collector: Add support for history files.
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/cli.py
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@73fccdb2d9504d9adb61cb943bd3620abcf67a07 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9b6992f05be93e17470030f951a8b269ff19d934 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9b6992f05be93e17470030f951a8b269ff19d934 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@210258312168e680e8b04d759df1fd5149a88761 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8f37086d3d456d78c3c0b435237c3fd0ed01eb6e 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

do not stop on jobs without CompletionDate
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

changelog
  CHANGELOG.md
Due: none

unify escaping
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add more info to the docs
  CHANGELOG.md
  media/website/content/_index.md
  media/website/content/development.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@59b066ca443fb08f6bfc47f5f4fe125b35464b7d 🚀
  edge/development/index.html
  edge/index.html
  edge/search_index.en.js
Due: none

added VO, SubmitHost, Processors to mandatory fields
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

fix clippy
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/advanced_queries.rs
  collectors/kubernetes/src/config.rs
  collectors/kubernetes/src/merger.rs
  collectors/slurm-epilog/src/main.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_epilog_collector, priority_plugin

update docs and migration guide
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@59b066ca443fb08f6bfc47f5f4fe125b35464b7d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none
