Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

stop shipping of venv in rpms
  .github/workflows/build_python_rpms.yml
  plugins/utilization_tool/bootstrap-venv.sh
  plugins/utilization_tool/util.spec
Due: none

reject default initialized-to-zero times
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

also support -epochs timestamps
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

add changelog for htcondor stop_time lookup
  CHANGELOG.md
Due: none

fetch attribute from jobs
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@bee1b4e8246206b291447a90116f707716e49f0d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

changing HTCondor collector to query internally condor_history for JSON formatted output to avoid problems with comma in FQANs acting as separator as well
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/config.py
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
  collectors/htcondor/tests/test_json_parsing.py
Due: htcondor_collector

Add script to migrate millisec to sec for slurm totalcpu field
  .github/workflows/test_convert_millisec_to_sec_slurm_totalcpufield.yml
  CHANGELOG.md
  auditor/scripts/convert_slurm_millisec_to_sec/.env
  auditor/scripts/convert_slurm_millisec_to_sec/convert_totalcpu_millisec_to_sec.py
  auditor/scripts/convert_slurm_millisec_to_sec/requirements.txt
  auditor/scripts/convert_slurm_millisec_to_sec/test_convert_slurm_millisec_to_sec.py
  scripts/test_slurm_migration_millisec_to_sec.sh
Due: auditor

Update certificate lifetime for tls integration tests
  .github/workflows/test_convert_millisec_to_sec_slurm_totalcpufield.yml
  auditor/scripts/convert_slurm_millisec_to_sec/convert_totalcpu_millisec_to_sec.py
  auditor/scripts/convert_slurm_millisec_to_sec/test_convert_slurm_millisec_to_sec.py
  scripts/test_slurm_migration_millisec_to_sec.sh
Due: auditor

Change millisec to sec for totalcpu field for slurm collector and modify the docs
  collectors/slurm/src/configuration.rs
  media/website/content/_index.md
  scripts/test_slurm_collector.sh
  scripts/test_tls_slurm_collector.sh
Due: slurm_collector

update pyo3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d527d87beb61728889b52f4aba3608350776451f 🚀
  pyauditor/edge/changelog.html
Due: none

stop shipping of venv in rpms
  .github/workflows/build_python_rpms.yml
  CHANGELOG.md
  plugins/utilization_tool/bootstrap-venv.sh
  plugins/utilization_tool/util.spec
Due: none

re-enable PyPI publishing
  .github/workflows/build_and_test.yml
  .github/workflows/release_python_packages.yml
Due: none

feat: Add tracing appender to write auditor, slurm, slurm-epilog, priority-plugin logs to a file
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/configuration/base.yaml
  auditor/src/archive.rs
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/slurm-epilog/src/configuration.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/main.rs
  media/website/content/_index.md
  plugins/priority/src/configuration.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

fix utilization plugin docs
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/configuration/base.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/telemetry.rs
  auditor/tests/api/helpers.rs
  collectors/slurm-epilog/src/configuration.rs
  collectors/slurm-epilog/src/main.rs
  collectors/slurm/src/configuration.rs
  collectors/slurm/src/main.rs
  media/website/content/_index.md
  plugins/priority/src/configuration.rs
  plugins/priority/src/main.rs
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

bulk update deps
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

utilization-plugin: Fix unit file path
  CHANGELOG.md
  plugins/utilization_tool/unit_files/auditor_utilization_plugin.service
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0d1d3387533acb93af0d95e2726340b84f63098d 🚀
  pyauditor/edge/changelog.html
Due: none

fix: stop archival service if file already exists
  CHANGELOG.md
  auditor/src/archive.rs
  scripts/test_archive.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@436668c43034511463ae11e36e3132c4ec13672c 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

bulk update deps 2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/scripts/revert_encoding/requirements.txt
  plugins/utilization_tool/pyproject.toml
Due: auditor

fix: slurm-rpm unit file working directory
  CHANGELOG.md
  rpm/unit_files/auditor-slurm-collector.service
Due: none

update anyhow
  CHANGELOG.md
  Cargo.toml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@39444d88c025717d5295201a6b19a425d9f6c533 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@581b784d99236cc2fbb7f3edf28849cd67c2c281 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a27a0a35f4a9ba03748582acec80a75be845e301 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@cf841bd9be0a07bbd53da77cb47eb9265f908aae 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6e500e89be4a64dfb40a4a18e8f25b6d1482cae1 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@55a505a2262849666126648d95d910920fdd9d18 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4abb5708b7006bf634abe5d3cb4dad241d896098 🚀
  pyauditor/edge/changelog.html
Due: none
