Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Release v0.6.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9d257c1242f2664d5e596dc900d2bea673943a38 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9d257c1242f2664d5e596dc900d2bea673943a38 🚀
  v0.6.3/404.html
  v0.6.3/about/index.html
  v0.6.3/auditor_overview.png
  v0.6.3/auditorlogo_long.png
  v0.6.3/auditorlogo_slim.png
  v0.6.3/auditorlogo_transparent.png
  v0.6.3/auditorlogo_white.png
  v0.6.3/changelog/index.html
  v0.6.3/development/index.html
  v0.6.3/elasticlunr.min.js
  v0.6.3/index.html
  v0.6.3/juice.css
  v0.6.3/migration/index.html
  v0.6.3/normalize.css
  v0.6.3/robots.txt
  v0.6.3/search_index.en.js
  v0.6.3/sitemap.xml
  v0.6.3/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.6.3
  latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@9d257c1242f2664d5e596dc900d2bea673943a38 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

CI: Redirect latest to new version v0.6.3 (pyauditor)
  pyauditor/latest
Due: none

disable attestations for PyPI
  .github/workflows/release_pyauditor.yml
  .github/workflows/release_python_packages.yml
Due: none

use latest rust version in container
  CHANGELOG.md
  containers/auditor/Dockerfile
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e7c45244d68c4fe740fbd699f65716810b728d0a 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d45d970e29de4d80551baf450ad830e44282c2c7 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@0a2c02f63f3dd0bad5cf883fcf964fcfc37a88ec 🚀
  pyauditor/edge/changelog.html
Due: none

update sqlx to 0.8.2 where we missed it
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/priority-plugin.yml
  .github/workflows/pyauditor_integration_tests.yml
  .github/workflows/slurm-collector.yml
  .github/workflows/slurm-epilog-collector.yml
  .github/workflows/sqlx.yml
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  containers/auditor/Dockerfile
  media/website/content/_index.md
  media/website/content/development.md
  scripts/init_client_sqlite.sh
  scripts/init_db.sh
  scripts/init_slurm_collector_sqlite.sh
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d7e147a77c82791de78597853a0e81480aeb4261 🚀
  edge/development/index.html
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d7e147a77c82791de78597853a0e81480aeb4261 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

remove temporary file on failure
  plugins/apel/src/auditor_apel_plugin/utility.py
Due: apel_plugin

add utility for transactional writing
  plugins/apel/src/auditor_apel_plugin/utility.py
Due: apel_plugin

add tests for write transaction
  plugins/apel/tests/test_utiliy.py
Due: apel_plugin

atomically replace time JSON
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

add mode, correct typing
  plugins/apel/src/auditor_apel_plugin/utility.py
Due: apel_plugin

fix typo
  plugins/apel/tests/test_utility.py
Due: apel_plugin

import linting
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/utility.py
  plugins/apel/tests/test_utility.py
Due: apel_plugin

add changelog entry
  CHANGELOG.md
Due: none

escape future type syntax
  plugins/apel/src/auditor_apel_plugin/utility.py
Due: apel_plugin

restrict typing to cover pre-3.10
  plugins/apel/src/auditor_apel_plugin/utility.py
Due: apel_plugin

drop support for Python 3.8
  .github/workflows/build_and_test.yml
  CHANGELOG.md
  collectors/htcondor/pyproject.toml
  containers/auditor-apel-plugin/Dockerfile
  plugins/apel/pyproject.toml
  pyauditor/docs/index.rst
  pyauditor/pyproject.toml
Due: apel_plugin, htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f8083e195528c909e48177318979bb49a10fd3fc 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
