Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b2dc07feed73ea45946136eabca4780aed60ca38 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f74d8260410431552378a9c8b3ebe2b192b7fa91 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c08202744c5d4903cae093efae50e87d48829405 🚀
  pyauditor/edge/changelog.html
Due: none

add option for log file to APEL plugin
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/tests/test_config.py
Due: apel_plugin

fix cargo deny complaints
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  deny.toml
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@6d422c7f6ce0b23223a3c7b67398d546de4ebfd3 🚀
  pyauditor/edge/changelog.html
Due: none

improve the rpm pipeline for the python packages
  .github/workflows/build_and_test.yml
  .github/workflows/build_python_rpms.yml
  .github/workflows/release_python_packages.yml
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@518435059b9fd3c39d5b1d3c7f559034e41cb8cc 🚀
  pyauditor/edge/changelog.html
Due: none

add --dry-run option
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@17501023690a6ddd23ec9b530860b9da4fb6b0d5 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@17501023690a6ddd23ec9b530860b9da4fb6b0d5 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

added log entry for total reported numbers
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

add option to set number of actix workers
  CHANGELOG.md
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
Due: auditor

CI
  auditor/src/startup.rs
Due: auditor

feat: Implement streaming of records from auditor for GET requests
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/record_handlers.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/get.rs
  auditor/tests/api/get_since.rs
  auditor/tests/api/helpers.rs
  scripts/test_db_migration.sh
  scripts/test_slurm_collector.sh
  scripts/test_slurm_epilog_collector.sh
  scripts/test_tls_slurm_collector.sh
  scripts/test_tls_slurm_epilog_collector.sh
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@539351ffc1598e6579c5b4f96edbded073dac661 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix: Add strict deserialization to make the query fail if the query string contains unknown fields
  CHANGELOG.md
  auditor/src/routes/advanced_record_filters.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4def88c8310d00dd2ada5c14802e19cf2ec378d9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add support for .json files and list fields
  scripts/bump_version.py
Due: none

bump_version
  scripts/bump_version.py
Due: none

refactor: Remove redundant error handling for empty query string in record_handlers.rs
  auditor/src/routes/record_handlers.rs
Due: auditor

improve error handling for invalid query parameters
  CHANGELOG.md
  auditor/src/routes/record_handlers.rs
Due: auditor

handle 404 errors for unspecified routes
  CHANGELOG.md
  auditor/src/startup.rs
Due: auditor

fix: update to correct AUDITOR docker image name in the docs
  CHANGELOG.md
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b6f4b04f358754cfd4981bc68bdfec1cef85a8f6 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

cap default workers to 4
  auditor/src/configuration.rs
Due: auditor

fix pattern replace in bump_version.py
  scripts/bump_version.py
Due: none

Add AUDITOR_ENVIRONMENT to settings,
  auditor/src/configuration.rs
Due: auditor

fix pattern replace in bump_version.py
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
Due: apel_plugin

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
