Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

add TLS to APEL plugin
  CHANGELOG.md
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b8bf4f2d9c592e37e7b53283f1c44f9dff4b5de6 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b8bf4f2d9c592e37e7b53283f1c44f9dff4b5de6 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

remove decoding from APEL plugin
  CHANGELOG.md
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

test: tls integration test for priority plugin
  .github/workflows/priority-plugin.yml
  containers/docker-centos7-slurm/tls_auditor_config.yaml
  containers/docker-centos7-slurm/tls_plugin_config_fullspread.yaml
  containers/docker-centos7-slurm/tls_plugin_config_scaledbysum.yaml
  scripts/test_tls_priority_plugin.sh
Due: none

test: tls integration test for epilog collector
  .github/workflows/slurm-epilog-collector.yml
  containers/docker-centos7-slurm/tls_epilog_collector_config.yaml
  scripts/test_tls_slurm_epilog_collector.sh
Due: none

test: integration test for tls slurm collector
  .github/workflows/slurm-collector.yml
  containers/docker-centos7-slurm/collector_tls_config.yaml
  containers/docker-centos7-slurm/tls_auditor_config.yaml
  scripts/test_tls_slurm_collector.sh
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@35809e4a6486976ccd944dc9bc3b02a87a28bee2 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d0296839c05218abe3047d4398da72cd47c06a34 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@e0aa879683d20f961626b266deb2c413b0565d3e 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8c7bd6d1612bb51666a1f4b57047cb2b811108f4 🚀
  pyauditor/edge/changelog.html
Due: none

update sqlx from 0.8.2 to 0.8.3
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/priority-plugin.yml
  .github/workflows/pyauditor_integration_tests.yml
  .github/workflows/slurm-collector.yml
  .github/workflows/slurm-epilog-collector.yml
  .github/workflows/sqlx.yml
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/kubernetes/Cargo.toml
  collectors/slurm/Cargo.toml
  containers/auditor-kubernetes-collector/Dockerfile
  containers/auditor/Dockerfile
  deny.toml
  media/website/content/_index.md
  media/website/content/development.md
  media/website/content/migration.md
  scripts/init_client_sqlite.sh
  scripts/init_db.sh
  scripts/init_kubernetes_collector_sqlite.sh
  scripts/init_slurm_collector_sqlite.sh
Due: auditor, slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@09db473ed6f22ab8c14536c1b55549041c22b8d9 🚀
  edge/development/index.html
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@09db473ed6f22ab8c14536c1b55549041c22b8d9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Release v0.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ec6914ecc37d070dc32f3d86fe59b914c6f8fc1f 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ec6914ecc37d070dc32f3d86fe59b914c6f8fc1f 🚀
  v0.7.0/404.html
  v0.7.0/about/index.html
  v0.7.0/auditor_overview.png
  v0.7.0/auditorlogo_long.png
  v0.7.0/auditorlogo_slim.png
  v0.7.0/auditorlogo_transparent.png
  v0.7.0/auditorlogo_white.png
  v0.7.0/changelog/index.html
  v0.7.0/development/index.html
  v0.7.0/elasticlunr.min.js
  v0.7.0/index.html
  v0.7.0/juice.css
  v0.7.0/migration/index.html
  v0.7.0/normalize.css
  v0.7.0/robots.txt
  v0.7.0/search_index.en.js
  v0.7.0/sitemap.xml
  v0.7.0/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.7.0
  latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ec6914ecc37d070dc32f3d86fe59b914c6f8fc1f 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

CI: Redirect latest to new version v0.7.0 (pyauditor)
  pyauditor/latest
Due: none

Fix HTCondor collector documentation.
  CHANGELOG.md
  media/website/content/_index.md
Due: none

HTCondor collector: Fix config check if entry does not contain name.
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

HTCondor collector: Fix links to pyauditor in documentation.
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d864bb8b5686ecd61ce56ddfb48e9930689167a5 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d864bb8b5686ecd61ce56ddfb48e9930689167a5 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

simplify error checking
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

document improved APEL error messages
  CHANGELOG.md
Due: none

simplify CA check
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

extract error information from APEL token endpoint
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
