Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

simplify error checking
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

extract error information from APEL token endpoint
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

document improved APEL error messages
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4a653fc34db61477f9419e9bdc2ededf84957551 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

kubernetes setup improvements
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/_index.md
  media/website/content/development.md
  plugins/priority/Cargo.toml
Due: auditor, slurm_collector, slurm_epilog_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2ca4b3b6b22f86907e24987990cc71f05ac5889f 🚀
  edge/development/index.html
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2ca4b3b6b22f86907e24987990cc71f05ac5889f 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@7c270f54adde283fabc5e17a6ebf3906f7fe1059 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@daf725213a946aff5db79a4fe582223b8d31d68e 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@7ad01377d3b33416a6e9d722e1f6e5810f8d754b 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3dfe66690416b552429a5c0a83ec85572da69c6b 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2387d43ce1b62c84172d15b6dac575791d583043 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1a045584cdac081eb03eeecb987ee2fe70a70a72 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@3e44b7feaaf9df830bbbf7d2933231e7359e5503 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b881f35af15bc56a05277aba259ca85bc76fdfe4 🚀
  pyauditor/edge/changelog.html
Due: none

remove test for unused voms parser
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

adjust example for VOMS matching
  media/website/content/_index.md
Due: none

remove unused VOMS parser
  plugins/apel/src/auditor_apel_plugin/core.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@b4ac039d8501e8452f990b8b92334d8d893a5153 🚀
  edge/index.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@530d94805970c7377ce86ba874239d04e88a5eb4 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix clippy issues, update pyo3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/src/database.rs
  pyauditor/src/client.rs
  pyauditor/src/domain/component.rs
  pyauditor/src/domain/meta.rs
  pyauditor/src/domain/record.rs
  pyauditor/src/domain/score.rs
  pyauditor/src/queued_client.rs
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@50cce4cffcc3438e4ba008a3dc8be59d60eae37c 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8d0e071e3b2820ee44c669544d26000148bffd42 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1d4b37d4ac18088e833f3695d36fc9afa93571fe 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@cc40a7a053882757eabe0f2bedfa6a14953d2950 🚀
  pyauditor/edge/changelog.html
Due: none

refactor: Use auditor address when https_addr is not specified & remove https_addr from example config
  CHANGELOG.md
  auditor/src/configuration.rs
  auditor/src/main.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
Due: auditor

fix: Properly configure TLS handling in AuditorClient
  auditor-client/src/lib.rs
  containers/docker-centos7-slurm/collector_tls_config.yaml
  containers/docker-centos7-slurm/tls_epilog_collector_config.yaml
  containers/docker-centos7-slurm/tls_plugin_config_fullspread.yaml
  containers/docker-centos7-slurm/tls_plugin_config_scaledbysum.yaml
  pyauditor/scripts/tls_test/test_tls.py
  scripts/test_tls_priority_plugin.sh
  scripts/test_tls_pyauditor.sh
  scripts/test_tls_slurm_collector.sh
  scripts/test_tls_slurm_epilog_collector.sh
Due: none

new certs for tests
  CHANGELOG.md
  auditor-client/src/lib.rs
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/rootCA.pem
Due: auditor

refactor: remove commented-out code
  auditor-client/src/lib.rs
Due: none

docs: Add TLS env configuration variables and mention IPv6 support for auditor addr
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fd3a2b785e8929934e32b8efa6003595fa753c54 🚀
  edge/index.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fd3a2b785e8929934e32b8efa6003595fa753c54 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none
