Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

fix bug with empty record list
  .github/workflows/coverage.yml
  .github/workflows/general.yml
  .github/workflows/priority-plugin.yml
  .github/workflows/pyauditor_integration_tests.yml
  .github/workflows/slurm-collector.yml
  .github/workflows/slurm-epilog-collector.yml
  .github/workflows/sqlx.yml
  .github/workflows/test_db_migration.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  containers/auditor-kubernetes-collector/Dockerfile
  containers/auditor/Dockerfile
  media/website/content/_index.md
  media/website/content/development.md
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  scripts/init_client_sqlite.sh
  scripts/init_db.sh
  scripts/init_kubernetes_collector_sqlite.sh
  scripts/init_slurm_collector_sqlite.sh
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

use proper relative path for .env
  auditor/scripts/revert_encoding/revert_encodings.py
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@10f820cbf36735d1aa89dcff5d675aebebb46a9e 🚀
  v0.9.4/404.html
  v0.9.4/about/index.html
  v0.9.4/auditor_overview.png
  v0.9.4/auditorlogo_long.png
  v0.9.4/auditorlogo_slim.png
  v0.9.4/auditorlogo_transparent.png
  v0.9.4/auditorlogo_white.png
  v0.9.4/changelog/index.html
  v0.9.4/development/index.html
  v0.9.4/elasticlunr.min.js
  v0.9.4/index.html
  v0.9.4/juice.css
  v0.9.4/migration/index.html
  v0.9.4/normalize.css
  v0.9.4/robots.txt
  v0.9.4/search_index.en.js
  v0.9.4/sitemap.xml
  v0.9.4/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.9.4
  latest
Due: none

CI: Redirect latest to new version v0.9.4 (pyauditor)
  pyauditor/latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@52dd119855a6afe03216faa5cd4e18d35de18a40 🚀
  edge/development/index.html
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@52dd119855a6afe03216faa5cd4e18d35de18a40 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Speed up parsing of time values
  CHANGELOG.md
  collectors/slurm/src/configuration.rs
Due: slurm_collector

feat: add rbac services
  Cargo.lock
  auditor-client/benches/benchmark_with_http_request.rs
  auditor-client/src/lib.rs
  auditor/Cargo.toml
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/lib.rs
  auditor/src/main.rs
  auditor/src/middleware.rs
  auditor/src/routes/advanced_record_filters.rs
  auditor/src/routes/record_handlers.rs
  auditor/src/startup.rs
  auditor/tests/api/advanced_queries.rs
  auditor/tests/api/helpers.rs
  collectors/slurm/src/sacctcaller.rs
  model.conf
  plugins/apel/src/auditor_apel_plugin/core.py
  pyauditor/scripts/test_advanced_query.py
  pyauditor/src/client.rs
  scripts/test_rbac.sh
Due: apel_plugin, auditor, slurm_collector

fix: replace certs and add rbac integration test
  .github/workflows/general.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor/Cargo.toml
  auditor/certs/rootCA-key.pem
  auditor/certs/rootCA.pem
  auditor/certs/server-cert.pem
  auditor/certs/server-key.pem
  auditor/configuration/rbac.yaml
  auditor/configuration/tls_config.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  deny.toml
  media/website/content/_index.md
  pyauditor/scripts/test_advanced_query_blocking.py
  pyauditor/scripts/test_advanced_query_queued.py
  scripts/certs/client-cert.pem
  scripts/certs/client-key.pem
  scripts/certs/condor-client-cert.pem
  scripts/certs/condor-client-key.pem
  scripts/certs/rootCA.pem
  scripts/test_rbac.sh
Due: auditor

feat: add monitoring role for metrics endpoint in rbac config
  Cargo.lock
  auditor/configuration/rbac.yaml
  auditor/src/configuration.rs
  auditor/src/main.rs
  media/website/content/_index.md
Due: auditor

Add model.conf to AUDITOR Dockerfile
  Cargo.lock
  auditor/src/configuration.rs
  auditor/src/startup.rs
  containers/auditor/Dockerfile
  media/website/content/_index.md
Due: auditor

add option for list of site_meta_fields
  CHANGELOG.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Improve docs, add PUT policy for default write_access_cn & change sqlx to 0.8.6
  .github/workflows/general.yml
  auditor/src/configuration.rs
  media/website/content/_index.md
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@456d5768e41f9e50ff9acac7e198d858701c6e01 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

add option for list of site_meta_fields
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/tests/test_auditor_apel_plugin.py
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8a285b597152e2c1efaf39f56b374350b2c34bb9 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@8a285b597152e2c1efaf39f56b374350b2c34bb9 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

HTCondor collector: Add support for history files.
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/cli.py
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

improvements for creation of RPMs
  CHANGELOG.md
  collectors/htcondor/configs/auditor_htcondor_collector_template.yml
  collectors/htcondor/rpm_config.json
  collectors/htcondor/unit_files/auditor_htcondor_collector.service
  collectors/kubernetes/src/config.rs
  media/website/content/_index.md
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
  rpm/config_files/auditor-kubernetes-collector.yml
  rpm/config_files/auditor-priority-plugin.yml
  rpm/config_files/auditor-slurm-collector.yml
  rpm/config_files/auditor-slurm-epilog-collector.yml
  rpm/config_files/auditor.yml
  rpm/unit_files/auditor-kubernetes-collector.service
  rpm/unit_files/auditor-priority-plugin.service
  rpm/unit_files/auditor-slurm-collector.service
  rpm/unit_files/auditor-slurm-epilog-collector.service
  rpm/unit_files/auditor.service
  scripts/build_rpm.sh
Due: htcondor_collector

what does this thing do?
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

avoid shared state
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

assert protecting internal value
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

directly use sets
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

clearer naming
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

avoid reading unintended sections
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

mark internal check private
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

document helper
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

preserve types
  collectors/htcondor/src/auditor_htcondor_collector/utils.py
Due: htcondor_collector

add switch for query type
  collectors/htcondor/src/auditor_htcondor_collector/config.py
Due: htcondor_collector

annotations for clarity
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

separate shell and exec invocation
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

explain new config setting
  media/website/content/_index.md
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
