Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

codecov.yaml:

comment:
  layout: "header, diff, components"
  
component_management:
  individual_components:
    - component_id: module_apel_plugin
      name: apel_plugin
      paths:
        - plugins/apel/**
    - component_id: module_auditor
      name: auditor
      paths:
        - auditor/**
    - component_id: module_slurm_collector
      name: slurm_collector
      paths:
        - collectors/slurm/**
    - component_id: module_slurm_epilog_collector
      name: slurm_epilog_collector
      paths:
        - collectors/slurm-epilog/**
    - component_id: module_htcondor_collector
      name: htcondor_collector
      paths:
        - collectors/htcondor/**
    - component_id: module_priority_plugin
      name: priority_plugin
      paths:
        - plugins/priority/**

switch to argo AMS library for messaging
  CHANGELOG.md
  codecov.yaml
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_auditor_apel_plugin.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c7dcb2d16f891851d8ce1156fccbc21d77e3000d 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c7dcb2d16f891851d8ce1156fccbc21d77e3000d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

cast class ad values to string for meta fields
  CHANGELOG.md
  collectors/htcondor/src/auditor_htcondor_collector/collector.py
Due: htcondor_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@fc107ed4ce9858b3b18296e7a9bc06b5ea829a07 🚀
  pyauditor/edge/changelog.html
Due: none

Docs: Add instructions for manual migration of db using psql (command line)
  CHANGELOG.md
  media/website/content/_index.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ccd518cc913fa03d85aa3d0e1d2b801acf452cae 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ccd518cc913fa03d85aa3d0e1d2b801acf452cae 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d1756f0f9434c11dff7543144a288510c6a54ca9 🚀
  pyauditor/edge/changelog.html
Due: none

added pyauditor RPM
  .github/workflows/build_and_test.yml
  .github/workflows/build_python_rpms.yml
  .github/workflows/release_python_packages.yml
  CHANGELOG.md
  collectors/htcondor/configs/auditor_htcondor_collector_template.yml
  collectors/htcondor/rpm_config.json
  collectors/htcondor/unit_files/auditor_htcondor_collector.service
  media/website/content/_index.md
  media/website/content/development.md
  plugins/apel/.gitignore
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/rpm_config.json
  plugins/apel/unit_files/auditor_apel_plugin.service
Due: apel_plugin, htcondor_collector

add tests for Python 3.13
  .github/workflows/build_and_test.yml
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c8b8b1f8f077fc1e74477eca28c22ec6b8ee408d 🚀
  edge/development/index.html
  edge/index.html
  edge/search_index.en.js
Due: none

remove NormalisedWallDurationField class
  CHANGELOG.md
  media/website/content/_index.md
  media/website/content/migration.md
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/tests/test_config.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@c8b8b1f8f077fc1e74477eca28c22ec6b8ee408d 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2e1e68b677378ad66c89c34b1ef69556b65979a7 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2e1e68b677378ad66c89c34b1ef69556b65979a7 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5e24b769608956e292ac8cdae05615c7e03ed1b4 🚀
  pyauditor/edge/changelog.html
Due: none

Release v0.8.0
  .github/workflows/release_python_packages.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@beeada9ebac21f440f2b2720bbc986013a6587bb 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@beeada9ebac21f440f2b2720bbc986013a6587bb 🚀
  v0.8.0/404.html
  v0.8.0/about/index.html
  v0.8.0/auditor_overview.png
  v0.8.0/auditorlogo_long.png
  v0.8.0/auditorlogo_slim.png
  v0.8.0/auditorlogo_transparent.png
  v0.8.0/auditorlogo_white.png
  v0.8.0/changelog/index.html
  v0.8.0/development/index.html
  v0.8.0/elasticlunr.min.js
  v0.8.0/index.html
  v0.8.0/juice.css
  v0.8.0/migration/index.html
  v0.8.0/normalize.css
  v0.8.0/robots.txt
  v0.8.0/search_index.en.js
  v0.8.0/sitemap.xml
  v0.8.0/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.8.0
  latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@beeada9ebac21f440f2b2720bbc986013a6587bb 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

CI: Redirect latest to new version v0.8.0 (pyauditor)
  pyauditor/latest
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@63830aadeb8c4014080551a30e43ffb14164297c 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@2ce0c48ec575917cd55e51d36abe1c100f29d5fc 🚀
  pyauditor/edge/changelog.html
Due: none

feat: Change auditor application address config to a list for dualstack support
  .github/workflows/general.yml
  CHANGELOG.md
  auditor/configuration/local.yaml
  auditor/src/configuration.rs
  auditor/src/startup.rs
  auditor/tests/api/helpers.rs
  media/website/content/_index.md
  media/website/content/migration.md
  scripts/test_dualstack.sh
  scripts/test_tls_priority_plugin.sh
  scripts/test_tls_pyauditor.sh
  scripts/test_tls_slurm_collector.sh
  scripts/test_tls_slurm_epilog_collector.sh
Due: auditor

chore(deps): Update Cargo.lock python-auditor from 0.7.1 to 0.8.0
  Cargo.lock
Due: none

fix: Use list separator method to parse env var and remove custom deserializer for auditor application addr
  .github/workflows/general.yml
  auditor/configuration/dualstack.yaml
  auditor/configuration/production.yaml
  auditor/src/configuration.rs
  media/website/content/migration.md
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f19f1358ae77c4e0d740963f3b1c0068b18b54fc 🚀
  edge/index.html
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@f19f1358ae77c4e0d740963f3b1c0068b18b54fc 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none
