Repository ALU-Schumacher/AUDITOR: changes, and which Codecov flags are due for each by the changed paths.
All: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

release-0.10.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  auditor-client/Cargo.toml
  auditor/Cargo.toml
  collectors/htcondor/pyproject.toml
  collectors/htcondor/rpm_config.json
  collectors/kubernetes/Cargo.toml
  collectors/slurm-epilog/Cargo.toml
  collectors/slurm/Cargo.toml
  media/website/content/migration.md
  plugins/apel/pyproject.toml
  plugins/apel/rpm_config.json
  plugins/priority/Cargo.toml
  pyauditor/Cargo.toml
  rpm/auditor-kubernetes-collector.spec
  rpm/auditor-priority-plugin.spec
  rpm/auditor-slurm-collector.spec
  rpm/auditor-slurm-epilog-collector.spec
  rpm/auditor.spec
Due: apel_plugin, auditor, slurm_collector, slurm_epilog_collector, htcondor_collector, priority_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a3f125bb1f18617bf8289f109d62779c31d550fc 🚀
  edge/migration/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a3f125bb1f18617bf8289f109d62779c31d550fc 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a3f125bb1f18617bf8289f109d62779c31d550fc 🚀
  v0.10.0/404.html
  v0.10.0/about/index.html
  v0.10.0/auditor_overview.png
  v0.10.0/auditorlogo_long.png
  v0.10.0/auditorlogo_slim.png
  v0.10.0/auditorlogo_transparent.png
  v0.10.0/auditorlogo_white.png
  v0.10.0/changelog/index.html
  v0.10.0/development/index.html
  v0.10.0/elasticlunr.min.js
  v0.10.0/index.html
  v0.10.0/juice.css
  v0.10.0/migration/index.html
  v0.10.0/normalize.css
  v0.10.0/robots.txt
  v0.10.0/search_index.en.js
  v0.10.0/sitemap.xml
  v0.10.0/white_transparent_background.png
Due: none

CI: Redirect latest to new version v0.10.0
  latest
Due: none

CI: Redirect latest to new version v0.10.0 (pyauditor)
  pyauditor/latest
Due: none

Show error if sacct is not successful
  collectors/slurm/src/sacctcaller.rs
Due: slurm_collector

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@34793f6115a6d1f9ae2228dc6aef11140bb1e136 🚀
  pyauditor/edge/changelog.html
Due: none

add benchmark type to report
  CHANGELOG.md
  media/website/content/_index.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
  plugins/apel/src/auditor_apel_plugin/config.py
  plugins/apel/src/auditor_apel_plugin/core.py
  plugins/apel/src/auditor_apel_plugin/message.py
  plugins/apel/src/auditor_apel_plugin/publish.py
  plugins/apel/src/auditor_apel_plugin/republish.py
  plugins/apel/tests/test_config.py
Due: apel_plugin

update ubuntu in workflows from 22.04 to latest
  .github/workflows/build_python_rpms.yml
Due: none

update slab and tracing-subscriber to fix cargo deny warnings
  Cargo.lock
  auditor/scripts/parquet_to_auditor/rust_script/Cargo.lock
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1d9ccf0cdf06f5736f7debc2e505685ec32d6338 🚀
  edge/index.html
  edge/search_index.en.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@1d9ccf0cdf06f5736f7debc2e505685ec32d6338 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

fix pyauditor tls params order
  CHANGELOG.md
  pyauditor/scripts/tls_test/test_tls.py
  pyauditor/src/builder.rs
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@96123568cf686752a2c38589749f6714cf4c5e44 🚀
  pyauditor/edge/api.html
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

remove version numbers from rust_script toml
  Cargo.toml
  auditor/scripts/parquet_to_auditor/rust_script/.sqlx/query-d8c6add014ac34e66ffb0178d497b9e822c569f86a89525f6ed5cc306713995a.json
  auditor/scripts/parquet_to_auditor/rust_script/Cargo.toml
  auditor/scripts/parquet_to_auditor/rust_script/src/configuration.rs
  auditor/scripts/parquet_to_auditor/rust_script/src/main.rs
Due: auditor

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a238af216752ce6c56ccfd2dfc7c41678971e62d 🚀
  edge/index.html
Due: none

fix error in template config
  CHANGELOG.md
  plugins/apel/configs/auditor_apel_plugin_template.yml
Due: apel_plugin

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@a238af216752ce6c56ccfd2dfc7c41678971e62d 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@5fbda94174bedefb31d70e3d8bdd189096079346 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@45a059e9a0101b482a9c31619f6efeb7ed4f6188 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@7b62d4eaaf30273a21d2941a9505e624a0ffc9fe 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@ea6f99c8467ec965d3aa9b30777efc42000a2333 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@36a3feab04e0571c43778140e2448f10f5c26496 🚀
  pyauditor/edge/changelog.html
Due: none

disable automatic rebasing of dependabot PRs
  .github/dependabot.yml
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@157dd1106b6897962c78f2b1ae3820dface06995 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@4ae54c3f1f7a33191824c8b3cb5a48d30eb666cd 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@d0fb6bae85b1708431b09162f1c500c17806bdfa 🚀
  pyauditor/edge/changelog.html
Due: none

Deploying to gh-pages from @ ALU-Schumacher/AUDITOR@590ea47cf99cfcfa1680703c201a365e0e31969f 🚀
  pyauditor/edge/changelog.html
  pyauditor/edge/searchindex.js
Due: none

Path conditions:
  apel_plugin: any of: plugins/apel/**
  auditor: any of: auditor/**
  slurm_collector: any of: collectors/slurm/**
  slurm_epilog_collector: any of: collectors/slurm-epilog/**
  htcondor_collector: any of: collectors/htcondor/**
  priority_plugin: any of: plugins/priority/**
